            </div>
          </div>
        </div>

        <!-- main content -->
        <div class="col-sm-8 col-md-9">
            <!-- main content goes here -->
            {{ content }}
          </div> <!-- close body (main content area) -->
        </div>
      </div> <!-- close fluid-row -->
    </div> <!-- close fluid container -->
    <!-- javascript -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/storyplayer/bootstrap3/js/bootstrap.min.js"></script>
    <script src="/storyplayer/assets/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
