<h3>This Section</h3>
<ol><li><a href="index.html">The Form Module</a></li>
<ul>
<li><a href="index.html#introduction">Introduction</a></li>
<li><a href="index.html#why_a_separate_form_module">Why A Separate Form Module?</a></li>
<li><a href="index.html#dependencies">Dependencies</a></li>
<li><a href="index.html#using_the_form_module">Using The Form Module</a></li>
</ul>
<li><a href="expectsForm.html">expectsForm()</a></li>
<ul>
<li><a href="expectsForm.html#behaviour_and_return_codes">Behaviour And Return Codes</a></li>
<li><a href="expectsForm.html#doesnthave">doesntHave()</a></li>
<li><a href="expectsForm.html#has">has()</a></li>
</ul>
<li><a href="fromForm.html">fromForm()</a></li>
<ul>
<li><a href="fromForm.html#behaviour_and_return_codes">Behaviour And Return Codes</a></li>
<li><a href="fromForm.html#has">has()</a></li>
<li><a href="fromForm.html#get">get()</a></li>
<li><a href="fromForm.html#getname">getName()</a></li>
<li><a href="fromForm.html#getnames">getNames()</a></li>
<li><a href="fromForm.html#getoptions">getOptions()</a></li>
<li><a href="fromForm.html#gettag">getTag()</a></li>
<li><a href="fromForm.html#gettext">getText()</a></li>
<li><a href="fromForm.html#gettopelement">getTopElement()</a></li>
<li><a href="fromForm.html#getvalue">getValue()</a></li>
</ul>
<li><a href="usingForm.html">usingForm()</a></li>
<ul>
<li><a href="usingForm.html#behaviour_and_return_codes">Behaviour And Return Codes</a></li>
<li><a href="usingForm.html#check">check()</a></li>
<li><a href="usingForm.html#clear">clear()</a></li>
<li><a href="usingForm.html#click">click()</a></li>
<li><a href="usingForm.html#select">select()</a></li>
<li><a href="usingForm.html#type">type()</a></li>
</ul>
