<h3>This Section</h3>
<ol><li><a href="/storyplayer/modules/uuid/index.html">The UUID Module</a></li>
<ul>
<li><a href="index.html#what_are_uuids">What Are UUIDs?</a></li>
<li><a href="index.html#dependencies">Dependencies</a></li>
<li><a href="index.html#using_the_uuid_module">Using The UUID Module</a></li>
</ul>
<li><a href="/storyplayer/modules/uuid/fromUuid.html">fromUuid()</a></li>
<ul>
<li><a href="fromUuid.html#behaviour_and_return_codes">Behaviour And Return Codes</a></li>
<li><a href="fromUuid.html#generateuuid">generateUuid()</a></li>
</ul>
<li><a href="/storyplayer/modules/uuid/expectsUuid.html">expectsUuid()</a></li>
<ul>
<li><a href="expectsUuid.html#behaviour_and_return_codes">Behaviour And Return Codes</a></li>
<li><a href="expectsUuid.html#requirementsaremet">requirementsAreMet()</a></li>
</ul>
