<h3>This Section</h3>
<ol><li><a href="/storyplayer/modules/supervisor/index.html">The Supervisor Module</a></li>
<ul>
<li><a href="index.html#dependencies">Dependencies</a></li>
<li><a href="index.html#using_the_supervisor_module">Using The Supervisor Module</a></li>
</ul>
<li><a href="/storyplayer/modules/supervisor/fromSupervisor.html">fromSupervisor()</a></li>
<ul>
<li><a href="fromSupervisor.html#behaviour_and_return_codes">Behaviour And Return Codes</a></li>
<li><a href="fromSupervisor.html#getprogramisrunning">getProgramIsRunning()</a></li>
<li><a href="fromSupervisor.html#getprogramisnotrunning">getProgramIsNotRunning()</a></li>
</ul>
<li><a href="/storyplayer/modules/supervisor/expectsSupervisor.html">expectsSupervisor()</a></li>
<ul>
<li><a href="expectsSupervisor.html#behaviour_and_return_codes">Behaviour And Return Codes</a></li>
<li><a href="expectsSupervisor.html#programisrunning">programIsRunning()</a></li>
<li><a href="expectsSupervisor.html#programisnotrunning">programIsNotRunning()</a></li>
</ul>
<li><a href="/storyplayer/modules/supervisor/usingSupervisor.html">usingSupervisor()</a></li>
<ul>
<li><a href="usingSupervisor.html#behaviour_and_return_codes">Behaviour And Return Codes</a></li>
<li><a href="usingSupervisor.html#startprogram">startProgram()</a></li>
<li><a href="usingSupervisor.html#stopprogram">stopProgram()</a></li>
</ul>
