{
    "environments": {
        "defaults": {
            "savaged": {
                "httpPort": 8091
            }
        },
        "self-test": {
            "vagrant": {
                "dir": "../vagrant-environments"
            }
        }
    },
    "phases": {
        "TestEnvironmentSetup": true,
        "TestSetup": true,
        "PreTestPrediction": true,
        "PreTestInspection": true,
        "Action": true,
        "PostTestInspection": true,
        "TestTeardown": true,
        "TestEnvironmentTeardown": true
    }
}
