{
    "defaults": [
        "--system-under-test", "storyplayer-2.x",
        "--target", "vagrant-vbox-centos6-ssl",
		"--users", "src/tests/stories/default-users.json",
        "play-story", "src/tests/stories/"
    ],
    "storySettings": {
    	"modules": {
    		"http": {
    			"remotePage": {
    				"title": "Home - BBC News"
    			}
    		}
    	}
    },
	"moduleSettings": {
		"device": {
			"browsermob": {
				"enable": false
			}
		}
	}
}
