<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Mediasift Ltd">

    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="./bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="./assets/book.css" rel="stylesheet">
  </head>
  <body>
    <!-- facebook comments -->
    <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '338583862880236', // App ID
        channelUrl : '{{ page.url }}/channel.html', // Channel File
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
      });

      // Additional initialization code here
    };

    // Load the SDK Asynchronously
    (function(d){
       var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement('script'); js.id = id; js.async = true;
       js.src = "//connect.facebook.net/en_US/all.js";
       ref.parentNode.insertBefore(js, ref);
     }(document));
  </script>

    <!-- top navbar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a href="http://datasift.github.io" class="brand">Open Source Projects</a>
          {% include nav.html %}
        </div>
      </div>
    </div>

    <!-- rest of the page -->
    <div class="container-fluid page">
      <div class="row-fluid">
        <!-- sidebar -->
        <div class="span3">
          <div class="sidebar well">
            <div class="sidebody">
