<ul class="nav">
<li><a href="/storyplayer/index.html">Home</a></li>
<li class="dropdown">
<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Prose<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="/storyplayer/prose/index.html">Introduction</a></li>
<li><a href="/storyplayer/prose/global-dialect.html">Global Dialect</a></li>
<li><a href="/storyplayer/prose/local-dialects.html">Local Dialects</a></li>
</ul>
</li>
<li class="dropdown">
<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Modules<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="/storyplayer/modules/index.html">Introduction</a></li>
<li class="divider"></li>
<li><a href="/storyplayer/modules/assertions/index.html">Assertions</a></li>
<li><a href="/storyplayer/modules/browser/index.html">Browser</a></li>
<li><a href="/storyplayer/modules/checkpoint/index.html">Checkpoint</a></li>
<li><a href="/storyplayer/modules/doppeld/index.html">Doppeld</a></li>
<li><a href="/storyplayer/modules/file/index.html">File</a></li>
<li><a href="/storyplayer/modules/form/index.html">Form</a></li>
<li><a href="/storyplayer/modules/graphite/index.html">Graphite</a></li>
<li><a href="/storyplayer/modules/hornet/index.html">Hornet</a></li>
<li><a href="/storyplayer/modules/http/index.html">HTTP</a></li>
<li><a href="/storyplayer/modules/iframe/index.html">Iframe</a></li>
<li><a href="/storyplayer/modules/savaged/index.html">SavageD</a></li>
<li><a href="/storyplayer/modules/timer/index.html">Timer</a></li>
<li><a href="/storyplayer/modules/shell/index.html">UNIX Shell</a></li>
<li><a href="/storyplayer/modules/uuid/index.html">UUID</a></li>
<li><a href="/storyplayer/modules/vagrant/index.html">Vagrant</a></li>
<li><a href="/storyplayer/modules/zeromq/index.html">ZeroMQ</a></li>
</ul>
</li>
</ul>
