<ul class="nav">
<li class="dropdown">
<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Home<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="/storyplayer/index.html">Welcome To Storyplayer</a></li>
<li class="divider"></li>
<li><a href="/storyplayer/installation.html">Installation</a></li>
<li><a href="/storyplayer/configuration.html">Configuration</a></li>
<li><a href="/storyplayer/running-storyplayer.html">How To Run</a></li>
<li class="divider"></li>
<li><a href="/storyplayer/copyright.html">Legal Stuff</a></li>
</ul>
</li>
<li class="dropdown">
<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Configuration<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="/storyplayer/configuration/index.html">Configuring Storyplayer</a></li>
<li class="divider"></li>
<li><a href="/storyplayer/configuration/storyteller-json.html">storyteller.json</a></li>
<li><a href="/storyplayer/configuration/app-settings.html">App Settings</a></li>
<li><a href="/storyplayer/configuration/logging.html">Logging</a></li>
<li class="divider"></li>
<li><a href="/storyplayer/configuration/runtime-config.html">Runtime Config</a></li>
<li><a href="/storyplayer/modules/hoststable/how-hosts-are-remembered.html">The Hosts Table</a></li>
</ul>
</li>
<li class="dropdown">
<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Stories<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="/storyplayer/stories/index.html">Introduction</a></li>
<li><a href="/storyplayer/stories/user-stories.html">User Stories</a></li>
<li><a href="/storyplayer/stories/service-stories.html">Service Stories</a></li>
<li class="divider"></li>
<li><a href="/storyplayer/stories/phases.html">The Eight Phases Of A Story</a></li>
<li><a href="/storyplayer/stories/the-checkpoint.html">The Checkpoint</a></li>
<li><a href="/storyplayer/stories/test-environment-setup-teardown.html">Test Environment Setup / Teardown</a></li>
<li><a href="/storyplayer/stories/test-setup-teardown.html">Test Setup / Teardown</a></li>
<li><a href="/storyplayer/stories/pre-test-prediction.html">Pre-Test Prediction</a></li>
<li><a href="/storyplayer/stories/pre-test-inspection.html">Pre-Test Inspection</a></li>
<li><a href="/storyplayer/stories/action.html">Action</a></li>
<li><a href="/storyplayer/stories/post-test-inspection.html">Post-Test Inspection</a></li>
<li class="divider"></li>
<li><a href="/storyplayer/stories/web-example.html">Web Example</a></li>
<li><a href="/storyplayer/stories/soa-example.html">SOA Example</a></li>
<li><a href="/storyplayer/stories/story-writing-tips.html">Story-Writing Tips</a></li>
</ul>
</li>
<li class="dropdown">
<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Prose<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="/storyplayer/prose/index.html">Introduction</a></li>
<li><a href="/storyplayer/prose/the-st-object.html">The $st Object</a></li>
<li><a href="/storyplayer/prose/global-dialect.html">Global Dialect</a></li>
<li><a href="/storyplayer/prose/local-dialects.html">Local Dialects</a></li>
</ul>
</li>
<li class="dropdown">
<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Modules<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="/storyplayer/modules/index.html">Introduction</a></li>
<li class="divider"></li>
<li><a href="/storyplayer/modules/assertions/index.html">Assertions</a></li>
<li><a href="/storyplayer/modules/browser/index.html">Browser</a></li>
<li><a href="/storyplayer/modules/checkpoint/index.html">Checkpoint</a></li>
<li><a href="/storyplayer/modules/environment/index.html">Environment</a></li>
<li><a href="/storyplayer/modules/file/index.html">File</a></li>
<li><a href="/storyplayer/modules/form/index.html">Form</a></li>
<li><a href="/storyplayer/modules/graphite/index.html">Graphite</a></li>
<li><a href="/storyplayer/modules/host/index.html">Host</a></li>
<li><a href="/storyplayer/modules/hoststable/index.html">Hosts Table</a></li>
<li><a href="/storyplayer/modules/http/index.html">HTTP</a></li>
<li><a href="/storyplayer/modules/savaged/index.html">SavageD</a></li>
<li><a href="/storyplayer/modules/timer/index.html">Timer</a></li>
<li><a href="/storyplayer/modules/shell/index.html">UNIX Shell</a></li>
<li><a href="/storyplayer/modules/uuid/index.html">UUID</a></li>
<li><a href="/storyplayer/modules/vagrant/index.html">Vagrant</a></li>
<li><a href="/storyplayer/modules/zeromq/index.html">ZeroMQ</a></li>
</ul>
</li>
</ul>
