            </div>
          </div>
        </div>
        <!-- main content -->
        <div class="col-sm-8 col-md-9">
          <div class="maincontent">
            <!-- top nextbar -->
            <div class="nextbar nextbar-top">
              <ul class="nav nav-pills">
                <li class="prev">{{page.prev}}</li>
                <li class="next">{{page.next}}</li>
              </ul>
            </div>

            <!-- version banner -->
            <div class="callout danger">
              <p>This is the manual for the next version of Storyplayer, which is currently under development. <strong>This manual may be incomplete, and may still describe features that no longer exist in Storyplayer v2.</strong></p>

              <p>Do you want <a href="/storyplayer/v1/index.html">the manual for the current stable version of Storyplayer</a> instead?</p>
            </div>

            <!-- main content goes here -->
            {{ content }}

            <!-- twitter likes -->
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://datasift.github.io/storyplayer/" data-text="StoryPlayer: bring your stories to life through your tests" data-via="datasift" data-size="large">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            <div class="nextbar nextbar-bottom">
              <ul class="nav nav-pills">
                <li class="prev">{{page.prev}}</li>
                <li class="next">{{page.next}}</li>
              </ul>
            </div>
          </div> <!-- close body (main content area) -->
        </div>
      </div> <!-- close fluid-row -->
    </div> <!-- close fluid container -->
    <!-- javascript -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/storyplayer/bootstrap3/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      function go_to_chapter() {
        var dropdown=document.getElementById('all_chapters')
        window.location.href=dropdown.options[dropdown.selectedIndex].value
      }
      function go_to_version() {
        var dropdown=document.getElementById('all_versions')
        window.location.href=dropdown.options[dropdown.selectedIndex].value
      }
    </script>

    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
