<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Mediasift Ltd">

    <link href="/storyplayer/bootstrap3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/storyplayer/assets/book.css" rel="stylesheet">
    <link href="/storyplayer/assets/highlight-phix.css" rel="stylesheet">
  </head>
  <body>
    <!-- top navbar -->
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container_fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">
            <a href="http://datasift.com" style="padding-top: 0; padding-bottom: 0">
              <img src="http://datasift.com/images/logo.png" class="pull-left" style="padding-top: 0px; padding-right: 10px; vertical-align: middle">
            </a>
            Storyplayer v2
          </div>
        </div>

        <nav class="collapse navbar-collapse" id="navbar-menu" role="navigation">
          <!-- wrap the main navbar in the collapsable container -->
          <ul class="nav navbar-nav">
            {% include v2/nav.html %}
          </ul>
        </nav>
      </div>
    </header>

    <!-- rest of the page -->
    <div class="container page">
      <div class="row">
        <!-- secondary site navigation -->
        <div class="col-md-3 col-sm-4">
          <div class="well altnav">
            <strong>Goto: </strong>
            <select id="all_versions" onChange="go_to_version()">
              <option label="Storyplayer v1.x">/storyplayer/v1/index.html</option>
              <option label="Storyplayer v2.x" selected="true">/storyplayer/v2/index.html</option>
              <option label="GitHub">https://github.com/datasift/storyplayer</option>
            </select>
          </div>
        </div>
        <div class="col-sm-8 col-md-9">
          <div class="well altnav">
            <strong>All Chapters:</strong>
            <select id="all_chapters" onChange="go_to_chapter()">
              {% include v2/all_chapters.html %}
            </select>
          </div>
        </div>
      </div>
