{% include v2/books/book-head.html %}
      <!-- masthead -->
      <div class="frontpage">
        <div class="row">
          <div class="col-md-12">
            <div class="well masthead">
              <h1 class="center-block">Storyplayer</h1>
              <p class="lead center-block">Bring your stories to life using simple and powerful test automation.<br/>Test your web app or API. End-to-end test your platform.<br/>Test software written in any programming language.</p>
              <p class="lead center-block">Designed for developers and testers alike.</p>
              <p class="version center-block">Currently at v2.0.0-dev</p>
              <p class="center-block">
                <a role="button" class="btn btn-primary" href="learn/index.html">Get Started!</a>
                <a role="button" class="btn btn-primary" href="using/index.html">Documentation</a>
                <a role="button" class="btn btn-primary" href="tips/index.html">Howtos And Tips</a>
                <a role="button" class="btn btn-primary" href="modules/index.html">Module Reference</a>
                <a role="button" class="btn btn-primary" href="copyright.html">Open Source</a>
              </p>
            </div>
          </div>
        </div>

        <!-- first level of spotlights -->
        <div class="features">
          <div class="row">
            <div class="col-md-4">
              <div class="well">
                <h2>Test Your Code</h2>
                <p>
                  Write tests for each service in your platform. Store those tests along side your code and unit tests. Know your service works as you develop it!
                </p>
                <p><a href="learn/test-your-code/index.html">Learn how to test your code using Storyplayer.</a></p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="well">
                <h2>Test Your Platform</h2>
                <p>
                  Write end-to-end tests for your entire platform. Run them against QA, Staging and Production alike. Catch problems before your customers do!
                </p>
                <p><a href="learn/test-your-platform/index.html">Learn how to test your platform using Storyplayer.</a></p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="well">
                <h2>#noDSL</h2>
                <p>
                  All tests are written in pure PHP.  There's no domain-specific language (DSL) to learn, just our extensive set of modules to save you time.
                </p>
                <p><a href="modules/index.html">See the full list of modules that ship with Storyplayer.</a></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- footer -->
    <div class="container">
      <div class="col-md-12">
        <p class="center-block">Copyright (c) 2011-present MediaSift Ltd. Released under the 3-clause BSD license.</p>
      </div>
  </body>
</html>