<optgroup label="Home">
<option value="/storyplayer/v2/index.html">Welcome To Storyplayer</option>
<option value="/storyplayer/v2/changelog.html">ChangeLog</option>
<option value="/storyplayer/v2/copyright.html">Legal Stuff</option>
</optgroup>
<option disabled="disabled">&nbsp;</option>
<optgroup label="Learn">
<option value="/storyplayer/v2/learn/index.html">Introduction</option>
<option value="/storyplayer/v2/learn/getting-setup/index.html">Setting Up Your Computer</option>
<option value="/storyplayer/v2/learn/fundamentals/index.html">Fundamentals</option>
<option value="/storyplayer/v2/learn/test-your-code/index.html">Test Your Code</option>
<option value="/storyplayer/v2/learn/test-your-platform/index.html">Test Your Platform</option>
<option value="/storyplayer/v2/lear/test-your-webpage/index.html">Test Your HTML</option>
<option value="/storyplayer/v2/learn/worked-examples/index.html">Worked Examples</option>
</optgroup>
<option disabled="disabled">&nbsp;</option>
<optgroup label="Use">
<option disabled="disabled">Configuration</option>
<option value="/storyplayer/v2/configuration/index.html">Configuring Storyplayer</option>
<option disabled="disabled">-</option>
<option value="/storyplayer/v2/configuration/storyplayer-json.html">storyplayer.json</option>
<option value="/storyplayer/v2/configuration/app-settings.html">App Settings</option>
<option value="/storyplayer/v2/configuration/logging.html">Logging</option>
<option value="/storyplayer/v2/configuration/test-phases.html">Test Phases</option>
<option disabled="disabled">-</option>
<option value="/storyplayer/v2/configuration/environment-config.html">Per-Environment Config</option>
<option value="/storyplayer/v2/configuration/device-config.html">Per-Device Config</option>
<option value="/storyplayer/v2/configuration/user-config.html">Per-User Config</option>
<option disabled="disabled">-</option>
<option value="/storyplayer/v2/configuration/prose-namespaces.html">Prose Namespaces</option>
<option disabled="disabled">-</option>
<option value="/storyplayer/v2/configuration/runtime-config.html">Runtime Config</option>
<option value="/storyplayer/v2/modules/hoststable/how-hosts-are-remembered.html">The Hosts Table</option>
<option disabled="disabled">&nbsp;</option>
<option disabled="disabled">Devices</option>
<option value="/storyplayer/v2/using/devices/index.html">Introduction</option>
<option value="/storyplayer/v2/using/devices/how-it-works.html">How It Works</option>
<option value="/storyplayer/v2/using/devices/localbrowsers.html">Browsers On Your Machine</option>
<option value="/storyplayer/v2/using/devices/saucelabs.html">SauceLabs</option>
<option value="/storyplayer/v2/using/devices/remotewebdriver.html">Remote WebDriver</option>
<option disabled="disabled">-</option>
<option value="/storyplayer/v2/using/devices/how-to-test.html">How To Test</option>
<option disabled="disabled">&nbsp;</option>
<option disabled="disabled">Stories</option>
<option value="/storyplayer/v2/using/stories/index.html">Introduction</option>
<option value="/storyplayer/v2/using/stories/user-stories.html">User Stories</option>
<option value="/storyplayer/v2/using/stories/service-stories.html">Service Stories</option>
<option disabled="disabled">-</option>
<option value="/storyplayer/v2/using/stories/story-test.html">The Story Test</option>
<option value="/storyplayer/v2/using/stories/phases.html">The Phases Of A Story</option>
<option value="/storyplayer/v2/using/stories/the-checkpoint.html">The Checkpoint</option>
<option value="/storyplayer/v2/using/stories/the-environment.html">The Environment</option>
<option value="/storyplayer/v2/using/stories/test-environment-setup-teardown.html">Test Environment Setup / Teardown</option>
<option value="/storyplayer/v2/using/stories/test-setup-teardown.html">Test Setup / Teardown</option>
<option value="/storyplayer/v2/using/stories/pre-test-prediction.html">Pre-Test Prediction</option>
<option value="/storyplayer/v2/using/stories/pre-test-inspection.html">Pre-Test Inspection</option>
<option value="/storyplayer/v2/using/stories/action.html">Action</option>
<option value="/storyplayer/v2/using/stories/post-test-inspection.html">Post-Test Inspection</option>
<option value="/storyplayer/v2/using/stories/story-templates.html">Using Story Templates</option>
<option value="/storyplayer/v2/using/stories/story-params.html">Passing Params Into Stories</option>
<option disabled="disabled">-</option>
<option value="/storyplayer/v2/using/stories/test-users.html">Test Users</option>
<option disabled="disabled">-</option>
<option value="/storyplayer/v2/using/stories/tales.html">Tales</option>
<option disabled="disabled">&nbsp;</option>
<option disabled="disabled">Prose</option>
<option value="/storyplayer/v2/using/prose/index.html">Introduction</option>
<option disabled="disabled">-</option>
<option value="/storyplayer/v2/using/prose/the-st-object.html">The $st Object</option>
<option value="/storyplayer/v2/using/prose/st-helper-methods.html">$st Helper Methods</option>
<option value="/storyplayer/v2/using/prose/module-loading.html">Module Loading</option>
<option value="/storyplayer/v2/using/prose/module-namespaces.html">Module Namespaces</option>
<option disabled="disabled">-</option>
<option value="/storyplayer/v2/using/prose/creating-prose-modules.html">Creating Your Own Modules</option>
<option value="/storyplayer/v2/using/prose/asserts-classes.html">Asserts Classes</option>
<option value="/storyplayer/v2/using/prose/expects-classes.html">Expects Classes</option>
<option value="/storyplayer/v2/using/prose/from-classes.html">From Classes</option>
<option value="/storyplayer/v2/using/prose/using-classes.html">Using Classes</option>
<option disabled="disabled">&nbsp;</option>
<option disabled="disabled">Environments</option>
<option value="/storyplayer/v2/environments/index.html">Introduction</option>
<option value="/storyplayer/v2/environments/your-machine.html">On Your Own Machine</option>
<option value="/storyplayer/v2/environments/local-vms.html">Local Virtual Machines</option>
<option value="/storyplayer/v2/environments/dedicated.html">Dedicated Environments</option>
<option value="/storyplayer/v2/environments/production.html">Against Production</option>
<option value="/storyplayer/v2/environments/multiple-environments.html">Multiple Environments</option>
<option disabled="disabled">-</option>
<option value="/storyplayer/v2/environments/ec2.html">Amazon EC2</option>
<option value="/storyplayer/v2/environments/physical-hosts.html">Physical Hosts</option>
<option value="/storyplayer/v2/environments/vagrant.html">Vagrant</option>
<option disabled="disabled">-</option>
<option value="/storyplayer/v2/environments/safeguarding.html">Safeguarding Environments</option>
</optgroup>
<option disabled="disabled">&nbsp;</option>
<optgroup label="Tips">
<option value="/storyplayer/v2/tips/index.html">Introduction</option>
<option disabled="disabled">-</option>
<option value="/storyplayer/v2/tips/vagrant/index.html">Vagrant Tips</option>
</optgroup>
<option disabled="disabled">&nbsp;</option>
<optgroup label="Modules">
<option value="/storyplayer/v2/modules/index.html">Introduction</option>
<option disabled="disabled">-</option>
<option value="/storyplayer/v2/modules/aws/index.html">Amazon AWS</option>
<option value="/storyplayer/v2/modules/ec2/index.html">Amazon EC2</option>
<option value="/storyplayer/v2/modules/assertions/index.html">Assertions</option>
<option value="/storyplayer/v2/modules/browser/index.html">Browser</option>
<option value="/storyplayer/v2/modules/checkpoint/index.html">Checkpoint</option>
<option value="/storyplayer/v2/modules/config/index.html">Config</option>
<option value="/storyplayer/v2/modules/curl/index.html">cURL</option>
<option value="/storyplayer/v2/modules/devicemanager/index.html">Device Manager</option>
<option value="/storyplayer/v2/modules/failure/index.html">Failure</option>
<option value="/storyplayer/v2/modules/file/index.html">File</option>
<option value="/storyplayer/v2/modules/form/index.html">Form</option>
<option value="/storyplayer/v2/modules/graphite/index.html">Graphite</option>
<option value="/storyplayer/v2/modules/host/index.html">Host</option>
<option value="/storyplayer/v2/modules/http/index.html">HTTP</option>
<option value="/storyplayer/v2/modules/iterators/index.html">Iterators</option>
<option value="/storyplayer/v2/modules/log/index.html">Log</option>
<option value="/storyplayer/v2/modules/provisioning/index.html">Provisioning</option>
<option value="/storyplayer/v2/modules/savaged/index.html">SavageD</option>
<option value="/storyplayer/v2/modules/storyplayer/index.html">Storyplayer</option>
<option value="/storyplayer/v2/modules/supervisor/index.html">Supervisor</option>
<option value="/storyplayer/v2/modules/systemundertest/index.html">System Under Test</option>
<option value="/storyplayer/v2/modules/testenvironment/index.html">Test Environment</option>
<option value="/storyplayer/v2/modules/timer/index.html">Timer</option>
<option value="/storyplayer/v2/modules/shell/index.html">UNIX Shell</option>
<option value="/storyplayer/v2/modules/uuid/index.html">UUID</option>
<option value="/storyplayer/v2/modules/vagrant/index.html">Vagrant</option>
<option value="/storyplayer/v2/modules/zeromq/index.html">ZeroMQ</option>
<option disabled="disabled">-</option>
<option value="/storyplayer/v2/modules/internal-modules.html">Internal Modules</option>
<option value="/storyplayer/v2/modules/hoststable/index.html">Hosts Table</option>
<option value="/storyplayer/v2/modules/processestable/index.html">Processes Table</option>
<option value="/storyplayer/v2/modules/rolestable/index.html">Roles Table</option>
<option value="/storyplayer/v2/modules/runtimetable/index.html">Runtime Table</option>
<option value="/storyplayer/v2/modules/targetstable/index.html">Targets Table</option>
<option disabled="disabled">-</option>
<option value="/storyplayer/v2/modules/deprecated-modules.html">Deprecated Modules</option>
<option value="/storyplayer/v2/modules/environment/index.html">Environment</option>
</optgroup>
