<optgroup label="Home">
<option value="/storyplayer/v2/index.html">Welcome To Storyplayer</option>
<option value="/storyplayer/v2/changelog.html">ChangeLog</option>
<option value="/storyplayer/v2/copyright.html">Legal Stuff</option>
</optgroup>
<option disabled="disabled">&nbsp;</option>
<optgroup label="Learn">
<option value="/storyplayer/v2/learn/index.html">Introduction</option>
<option value="/storyplayer/v2/learn/getting-setup/index.html">Setting Up Your Computer</option>
<option value="/storyplayer/v2/learn/fundamentals/index.html">Fundamentals</option>
<option value="/storyplayer/v2/learn/test-your-code/index.html">Test Your Code</option>
<option value="/storyplayer/v2/learn/test-your-platform/index.html">Test Your Platform</option>
<option value="/storyplayer/v2/lear/test-your-webpage/index.html">Test Your HTML</option>
<option value="/storyplayer/v2/learn/worked-examples/index.html">Worked Examples</option>
</optgroup>
<option disabled="disabled">&nbsp;</option>
<optgroup label="Use">
<option value="/storyplayer/v2/using/index.html">Introduction</option>
<option value="/storyplayer/v2/using/configuration/index.html">Configuration</option>
<option value="/storyplayer/v2/using/devices/index.html">Devices</option>
<option value="/storyplayer/v2/using/stories/index.html">Stories</option>
<option value="/storyplayer/v2/using/storyplayer-commands/index.html">Storyplayer Commands</option>
<option value="/storyplayer/v2/using/test-environments/index.html">Test Environments</option>
<option value="/storyplayer/v2/using/web-browsers/index.html">Web Browsers</option>
</optgroup>
<option disabled="disabled">&nbsp;</option>
<optgroup label="Tips">
<option value="/storyplayer/v2/tips/index.html">Introduction</option>
<option disabled="disabled">-</option>
<option value="/storyplayer/v2/tips/vagrant/index.html">Vagrant Tips</option>
</optgroup>
<option disabled="disabled">&nbsp;</option>
<optgroup label="Modules">
<option value="/storyplayer/v2/modules/index.html">Introduction</option>
<option disabled="disabled">-</option>
<option value="/storyplayer/v2/modules/aws/index.html">Amazon AWS</option>
<option value="/storyplayer/v2/modules/ec2/index.html">Amazon EC2</option>
<option value="/storyplayer/v2/modules/assertions/index.html">Assertions</option>
<option value="/storyplayer/v2/modules/browser/index.html">Browser</option>
<option value="/storyplayer/v2/modules/checkpoint/index.html">Checkpoint</option>
<option value="/storyplayer/v2/modules/config/index.html">Config</option>
<option value="/storyplayer/v2/modules/curl/index.html">cURL</option>
<option value="/storyplayer/v2/modules/devicemanager/index.html">Device Manager</option>
<option value="/storyplayer/v2/modules/failure/index.html">Failure</option>
<option value="/storyplayer/v2/modules/file/index.html">File</option>
<option value="/storyplayer/v2/modules/form/index.html">Form</option>
<option value="/storyplayer/v2/modules/graphite/index.html">Graphite</option>
<option value="/storyplayer/v2/modules/host/index.html">Host</option>
<option value="/storyplayer/v2/modules/http/index.html">HTTP</option>
<option value="/storyplayer/v2/modules/iterators/index.html">Iterators</option>
<option value="/storyplayer/v2/modules/log/index.html">Log</option>
<option value="/storyplayer/v2/modules/provisioning/index.html">Provisioning</option>
<option value="/storyplayer/v2/modules/savaged/index.html">SavageD</option>
<option value="/storyplayer/v2/modules/storyplayer/index.html">Storyplayer</option>
<option value="/storyplayer/v2/modules/supervisor/index.html">Supervisor</option>
<option value="/storyplayer/v2/modules/systemundertest/index.html">System Under Test</option>
<option value="/storyplayer/v2/modules/testenvironment/index.html">Test Environment</option>
<option value="/storyplayer/v2/modules/timer/index.html">Timer</option>
<option value="/storyplayer/v2/modules/shell/index.html">UNIX Shell</option>
<option value="/storyplayer/v2/modules/uuid/index.html">UUID</option>
<option value="/storyplayer/v2/modules/vagrant/index.html">Vagrant</option>
<option value="/storyplayer/v2/modules/zeromq/index.html">ZeroMQ</option>
<option disabled="disabled">-</option>
<option value="/storyplayer/v2/modules/internal-modules.html">Internal Modules</option>
<option value="/storyplayer/v2/modules/hoststable/index.html">Hosts Table</option>
<option value="/storyplayer/v2/modules/processestable/index.html">Processes Table</option>
<option value="/storyplayer/v2/modules/rolestable/index.html">Roles Table</option>
<option value="/storyplayer/v2/modules/runtimetable/index.html">Runtime Table</option>
<option value="/storyplayer/v2/modules/targetstable/index.html">Targets Table</option>
<option disabled="disabled">-</option>
<option value="/storyplayer/v2/modules/deprecated-modules.html">Deprecated Modules</option>
<option value="/storyplayer/v2/modules/environment/index.html">Environment</option>
</optgroup>
