<h3>This Section</h3>
<ol><li><a href="index.html">Testing With Different Devices</a></li>
<ul>
<li><a href="index.html#supported-browsers-and-devices">Supported Browsers And Devices</a></li>
<li><a href="index.html#stuff-we-still-need-to-add">Stuff We Still Need To Add</a></li>
<li><a href="index.html#not-supported">Not Supported</a></li>
<li><a href="index.html#not-possible">Not Possible</a></li>
</ul>
<li><a href="how-it-works.html">How We Control Web Browsers</a></li>
<ul>
<li><a href="how-it-works.html#selenium-webdriver">Selenium WebDriver</a></li>
<li><a href="how-it-works.html#browsermob-proxy">Browsermob-Proxy</a></li>
<li><a href="how-it-works.html#dependencies-that-we-install">Dependencies That We Install</a></li>
</ul>
<li><a href="localbrowsers.html">Testing With Locally Running Web Browsers</a></li>
<ul>
<li><a href="localbrowsers.html#getting-started">Getting Started</a></li>
<li><a href="localbrowsers.html#running-a-test">Running A Test</a></li>
<li><a href="localbrowsers.html#starting-and-stopping-web-browsers">Starting And Stopping Web Browsers</a></li>
<li><a href="localbrowsers.html#testing-websites-behind-http-basic-auth">Testing Websites Behind HTTP Basic Auth</a></li>
</ul>
<li><a href="saucelabs.html">Testing Multiple Browsers Using SauceLabs</a></li>
<ul>
<li><a href="saucelabs.html#getting-started">Getting Started</a></li>
<li><a href="saucelabs.html#running-a-test">Running A Test</a></li>
<li><a href="saucelabs.html#selecting-a-browser">Selecting A Browser</a></li>
<li><a href="saucelabs.html#testing-websites-behind-your-firewall">Testing Websites Behind Your Firewall</a></li>
<li><a href="saucelabs.html#testing-websites-behind-http-basic-auth">Testing Websites Behind HTTP Basic Auth</a></li>
<li><a href="saucelabs.html#known-differences-between-sauce-labs-and-local-selenium-webdriver">Known Differences Between Sauce Labs And Local Selenium WebDriver</a></li>
</ul>
<li><a href="remotewebdriver.html">Testing Unusual Browsers Using The Remote WebDriver</a></li>
<ul>
<li><a href="remotewebdriver.html#getting-started">Getting Started</a></li>
<li><a href="remotewebdriver.html#running-a-test">Running A Test</a></li>
<li><a href="remotewebdriver.html#testing-websites-behind-http-basic-auth">Testing Websites Behind HTTP Basic Auth</a></li>
</ul>
<li><a href="how-to-test.html">How To Test With Browsers And Devices</a></li>
<ul>
<li><a href="how-to-test.html#get-your-environments-sorted">Get Your Environments Sorted</a></li>
<li><a href="how-to-test.html#pick-one-environment-then-adapt">Pick One Environment, Then Adapt</a></li>
<li><a href="how-to-test.html#pick-one-browser-and-device-then-adapt">Pick One Browser And Device, Then Adapt</a></li>
<li><a href="how-to-test.html#write-your-tests-to-follow-the-users-journey">Write Your Tests To Follow The User’s Journey</a></li>
<li><a href="how-to-test.html#write-your-tests-to-follow-user-activity">Write Your Tests To Follow User Activity</a></li>
<li><a href="how-to-test.html#test-for-robustness">Test For Robustness</a></li>
<li><a href="how-to-test.html#test-for-regressions">Test For Regressions</a></li>
</ul>
