<h3>This Section</h3>
<ol><li><a href="index.html">Testing With Different Devices</a></li>
<ul>
<li><a href="index.html#supported_browsers_and_devices">Supported Browsers And Devices</a></li>
<li><a href="index.html#stuff_we_still_need_to_add">Stuff We Still Need To Add</a></li>
<li><a href="index.html#not_supported">Not Supported</a></li>
<li><a href="index.html#not_possible">Not Possible</a></li>
</ul>
<li><a href="how-it-works.html">How We Control Web Browsers</a></li>
<ul>
<li><a href="how-it-works.html#selenium_webdriver">Selenium WebDriver</a></li>
<li><a href="how-it-works.html#browsermobproxy">Browsermob-Proxy</a></li>
<li><a href="how-it-works.html#dependencies_that_we_install">Dependencies That We Install</a></li>
</ul>
<li><a href="localbrowsers.html">Testing With Locally Running Web Browsers</a></li>
<ul>
<li><a href="localbrowsers.html#getting_started">Getting Started</a></li>
<li><a href="localbrowsers.html#running_a_test">Running A Test</a></li>
<li><a href="localbrowsers.html#starting_and_stopping_web_browsers">Starting And Stopping Web Browsers</a></li>
<li><a href="localbrowsers.html#testing_websites_behind_http_basic_auth">Testing Websites Behind HTTP Basic Auth</a></li>
</ul>
<li><a href="saucelabs.html">Testing Multiple Browsers Using SauceLabs</a></li>
<ul>
<li><a href="saucelabs.html#getting_started">Getting Started</a></li>
<li><a href="saucelabs.html#running_a_test">Running A Test</a></li>
<li><a href="saucelabs.html#selecting_a_browser">Selecting A Browser</a></li>
<li><a href="saucelabs.html#testing_websites_behind_your_firewall">Testing Websites Behind Your Firewall</a></li>
<li><a href="saucelabs.html#testing_websites_behind_http_basic_auth">Testing Websites Behind HTTP Basic Auth</a></li>
<li><a href="saucelabs.html#known_differences_between_sauce_labs_and_local_selenium_webdriver">Known Differences Between Sauce Labs And Local Selenium WebDriver</a></li>
</ul>
<li><a href="remotewebdriver.html">Testing Unusual Browsers Using The Remote WebDriver</a></li>
<ul>
<li><a href="remotewebdriver.html#getting_started">Getting Started</a></li>
<li><a href="remotewebdriver.html#running_a_test">Running A Test</a></li>
<li><a href="remotewebdriver.html#testing_websites_behind_http_basic_auth">Testing Websites Behind HTTP Basic Auth</a></li>
</ul>
<li><a href="how-to-test.html">How To Test With Browsers And Devices</a></li>
<ul>
<li><a href="how-to-test.html#get_your_environments_sorted">Get Your Environments Sorted</a></li>
<li><a href="how-to-test.html#pick_one_environment_then_adapt">Pick One Environment, Then Adapt</a></li>
<li><a href="how-to-test.html#pick_one_browser_and_device_then_adapt">Pick One Browser And Device, Then Adapt</a></li>
<li><a href="how-to-test.html#write_your_tests_to_follow_the_users_journey">Write Your Tests To Follow The User’s Journey</a></li>
<li><a href="how-to-test.html#write_your_tests_to_follow_user_activity">Write Your Tests To Follow User Activity</a></li>
<li><a href="how-to-test.html#test_for_robustness">Test For Robustness</a></li>
<li><a href="how-to-test.html#test_for_regressions">Test For Regressions</a></li>
</ul>
