<h3>This Section</h3>
<ol><li><a href="index.html">Test Your Code</a></li>
<ul>
<li><a href="index.html#in-this-guide">In This Guide</a></li>
</ul>
<li><a href="why-component-testing.html">Why Component Testing?</a></li>
<ul>
<li><a href="why-component-testing.html#the-largest-gap-in-testing-today">The Largest Gap In Testing Today</a></li>
<li><a href="why-component-testing.html#component-tests-bridge-the-gap">Component Tests Bridge The Gap</a></li>
<li><a href="why-component-testing.html#component-tests-catch-faults-earlier">Component Tests Catch Faults Earlier</a></li>
<li><a href="why-component-testing.html#component-tests-use-repeatable-test-environments">Component Tests Use Repeatable Test Environments</a></li>
<li><a href="why-component-testing.html#component-tests-can-perform-deep-inspection">Component Tests Can Perform Deep Inspection</a></li>
<li><a href="why-component-testing.html#component-tests-validate-your-contract">Component Tests Validate Your Contract</a></li>
</ul>
<li><a href="what-are-you-testing.html">What Are You Testing?</a></li>
<ul>
<li><a href="what-are-you-testing.html#find-the-requirements">Find The Requirements</a></li>
<li><a href="what-are-you-testing.html#when-there-are-no-requirements">When There Are No Requirements</a></li>
<li><a href="what-are-you-testing.html#find-the-design-authority">Find The Design Authority</a></li>
<li><a href="what-are-you-testing.html#test-planning">Test Planning</a></li>
</ul>
<li><a href="sample-layout-for-source-code-repo.html">Sample Layout For Source Code Repo</a></li>
<ul>
<li><a href="sample-layout-for-source-code-repo.html#your-tests-live-with-your-code">Your Tests Live With Your Code</a></li>
<li><a href="sample-layout-for-source-code-repo.html#storyplayer">.storyplayer/</a></li>
<li><a href="sample-layout-for-source-code-repo.html#src">src/</a></li>
<li><a href="sample-layout-for-source-code-repo.html#testsstories">tests/stories/</a></li>
<li><a href="sample-layout-for-source-code-repo.html#vendor">vendor/</a></li>
<li><a href="sample-layout-for-source-code-repo.html#composerjson">composer.json</a></li>
<li><a href="sample-layout-for-source-code-repo.html#dsbuildfile">dsbuildfile</a></li>
<li><a href="sample-layout-for-source-code-repo.html#storyplayerjson">storyplayer.json</a></li>
<li><a href="sample-layout-for-source-code-repo.html#vagrantfile">Vagrantfile</a></li>
</ul>
<li><a href="defining-your-test-environment.html">Designing Your Test Environment</a></li>
<ul>
<li><a href="defining-your-test-environment.html#what-does-a-deployed-component-look-like">What Does A Deployed Component Look Like?</a></li>
<li><a href="defining-your-test-environment.html#popular-test-environment-designs">Popular Test Environment Designs</a></li>
<li><a href="defining-your-test-environment.html#using-a-single-vagrant-virtual-machine">Using A Single Vagrant Virtual Machine</a></li>
<li><a href="defining-your-test-environment.html#testing-your-vagrant-vm">Testing Your Vagrant VM</a></li>
<li><a href="defining-your-test-environment.html#deploy-your-component">Deploy Your Component</a></li>
<li><a href="defining-your-test-environment.html#writing-your-test-environment-config-file">Writing Your Test Environment Config File</a></li>
<li><a href="defining-your-test-environment.html#putting-it-all-together">Putting It All Together</a></li>
</ul>
<li><a href="defining-your-system-under-test.html">Defining Your System Under Test</a></li>
<ul>
<li><a href="defining-your-system-under-test.html#naming-your-config-file">Naming Your Config File</a></li>
<li><a href="defining-your-system-under-test.html#start-with-a-blank-slate">Start With A Blank Slate</a></li>
<li><a href="defining-your-system-under-test.html#build-up-the-config-bit-by-bit">Build Up The Config Bit By Bit</a></li>
<li><a href="defining-your-system-under-test.html#version-semi-independence">Version (Semi-)Independence</a></li>
<li><a href="defining-your-system-under-test.html#going-further">Going Further</a></li>
</ul>
<li><a href="recommended-first-tests.html">Recommended First Tests</a></li>
<ul>
<li><a href="recommended-first-tests.html#does-the-component-deploy-correctly">Does The Component Deploy Correctly?</a></li>
<li><a href="recommended-first-tests.html#does-the-component-start-up--shutdown--restart-correctly">Does The Component Start Up / Shutdown / Restart Correctly?</a></li>
<li><a href="recommended-first-tests.html#does-the-component-listen-on-the-correct-network-ports">Does The Component Listen On The Correct Network Ports?</a></li>
<li><a href="recommended-first-tests.html#does-the-component-write-to-its-logs-correctly">Does The Component Write To Its Logs Correctly?</a></li>
</ul>
<li><a href="designing-component-tests.html">Designing Component Tests</a></li>
<ul>
<li><a href="designing-component-tests.html#what-to-test-for">What To Test For</a></li>
<li><a href="designing-component-tests.html#inputs-and-outputs">Inputs And Outputs</a></li>
<li><a href="designing-component-tests.html#persistent-data">Persistent Data</a></li>
<li><a href="designing-component-tests.html#user-interface">User Interface</a></li>
<li><a href="designing-component-tests.html#reports">Reports</a></li>
<li><a href="designing-component-tests.html#reported-bugs">Reported Bugs</a></li>
</ul>
<li><a href="writing-component-tests.html">Writing Component Tests</a></li>
<ul>
<li><a href="writing-component-tests.html#the-steps-to-follow">The Steps To Follow</a></li>
<li><a href="writing-component-tests.html#step-1-create-the-test-conditions">Step 1: Create The Test Conditions</a></li>
<li><a href="writing-component-tests.html#step-2-perform-an-action">Step 2: Perform An Action</a></li>
<li><a href="writing-component-tests.html#step-3-inspect-afterwards">Step 3: Inspect Afterwards</a></li>
<li><a href="writing-component-tests.html#step-4-undo-step-1">Step 4: Undo Step 1</a></li>
<li><a href="writing-component-tests.html#putting-it-all-together">Putting It All Together</a></li>
</ul>
<li><a href="final-thoughts.html">Final Thoughts</a></li>
<ul>
<li><a href="final-thoughts.html#storyplayer-is-just-a-tool">Storyplayer Is Just A Tool</a></li>
<li><a href="final-thoughts.html#looking-for-more-detail-about-using-storyplayer">Looking For More Detail About Using Storyplayer?</a></li>
</ul>
