<h3>This Section</h3>
<ol><li><a href="index.html">Getting Setup For Storyplayer</a></li>
<ul>
<li><a href="index.html#operating-system-requirements">Operating System Requirements</a></li>
<li><a href="index.html#step-by-step-guides">Step By Step Guides</a></li>
<li><a href="index.html#manual-setup">Manual Setup</a></li>
</ul>
<li><a href="setting-up-osx-with-homebrew.html">Setting Up Apple OSX Using Homebrew</a></li>
<ul>
<li><a href="setting-up-osx-with-homebrew.html#why-homebrew">Why Homebrew?</a></li>
<li><a href="setting-up-osx-with-homebrew.html#compilers">Compilers</a></li>
<li><a href="setting-up-osx-with-homebrew.html#php-using-homebrew">PHP Using Homebrew</a></li>
<li><a href="setting-up-osx-with-homebrew.html#other-cli-tools">Other CLI Tools</a></li>
<li><a href="setting-up-osx-with-homebrew.html#virtual-machine-tools">Virtual Machine Tools</a></li>
<li><a href="setting-up-osx-with-homebrew.html#web-browsers">Web Browsers</a></li>
<li><a href="setting-up-osx-with-homebrew.html#all-done">All Done</a></li>
</ul>
<li><a href="setting-up-osx-with-macports.html">Setting Up Apple OSX Using Macports</a></li>
<ul>
<li><a href="setting-up-osx-with-macports.html#why-macports">Why Macports?</a></li>
<li><a href="setting-up-osx-with-macports.html#compilers">Compilers</a></li>
<li><a href="setting-up-osx-with-macports.html#php-using-macports">PHP Using MacPorts</a></li>
<li><a href="setting-up-osx-with-macports.html#other-cli-tools">Other CLI Tools</a></li>
<li><a href="setting-up-osx-with-macports.html#virtual-machine-tools">Virtual Machine Tools</a></li>
<li><a href="setting-up-osx-with-macports.html#web-browsers">Web Browsers</a></li>
<li><a href="setting-up-osx-with-macports.html#all-done">All Done</a></li>
</ul>
<li><a href="setting-up-ubuntu-desktop.html">Setting Up Ubuntu Desktop</a></li>
<ul>
<li><a href="setting-up-ubuntu-desktop.html#install-steps"> Install Steps</a></li>
</ul>
<li><a href="testing-your-setup.html">Testing Your Setup</a></li>
