<h3>This Section</h3>
<ol><li><a href="/storyplayer/v2/learn/fundamentals/index.html">Fundamentals Of Storyplayer</a></li>
<ul>
<li><a href="/storyplayer/v2/learn/fundamentals/index.html#running-storyplayer">Running Storyplayer</a></li>
<li><a href="/storyplayer/v2/learn/fundamentals/index.html#how-storyplayer-works">How Storyplayer Works</a></li>
<li><a href="/storyplayer/v2/learn/fundamentals/index.html#test-philosophy">Test Philosophy</a></li>
</ul>
<li><a href="/storyplayer/v2/learn/fundamentals/installing-storyplayer.html">Installing Storyplayer</a></li>
<ul>
<li><a href="/storyplayer/v2/learn/fundamentals/installing-storyplayer.html#install-via-composer">Install Via Composer</a></li>
</ul>
<li><a href="/storyplayer/v2/learn/fundamentals/running-storyplayer.html">Running Storyplayer</a></li>
<ul>
<li><a href="/storyplayer/v2/learn/fundamentals/running-storyplayer.html#from-the-vendor-folder">From The vendor/ Folder</a></li>
<li><a href="/storyplayer/v2/learn/fundamentals/running-storyplayer.html#setting-defaults-for-storyplayer">Setting Defaults For Storyplayer</a></li>
<li><a href="/storyplayer/v2/learn/fundamentals/running-storyplayer.html#storyplayerlog">storyplayer.log</a></li>
<li><a href="/storyplayer/v2/learn/fundamentals/running-storyplayer.html#getting-help">Getting Help</a></li>
</ul>
<li><a href="/storyplayer/v2/learn/fundamentals/understanding-stories.html">Understanding Stories</a></li>
<ul>
<li><a href="/storyplayer/v2/learn/fundamentals/understanding-stories.html#what-is-a-story">What Is A Story?</a></li>
<li><a href="/storyplayer/v2/learn/fundamentals/understanding-stories.html#writing-a-story">Writing A Story</a></li>
<li><a href="/storyplayer/v2/learn/fundamentals/understanding-stories.html#running-the-story">Running The Story</a></li>
<li><a href="/storyplayer/v2/learn/fundamentals/understanding-stories.html#doing-more-in-stories">Doing More In Stories</a></li>
<li><a href="/storyplayer/v2/learn/fundamentals/understanding-stories.html#two-types-of-story">Two Types Of Story</a></li>
<li><a href="/storyplayer/v2/learn/fundamentals/understanding-stories.html#further-reading">Further Reading</a></li>
</ul>
<li><a href="/storyplayer/v2/learn/fundamentals/understanding-storyplayer-modules.html">Understanding Storyplayer Modules</a></li>
<ul>
<li><a href="/storyplayer/v2/learn/fundamentals/understanding-storyplayer-modules.html#autocompletion-support">Autocompletion Support</a></li>
<li><a href="/storyplayer/v2/learn/fundamentals/understanding-storyplayer-modules.html#the-main-verbs">The Main Verbs</a></li>
<li><a href="/storyplayer/v2/learn/fundamentals/understanding-storyplayer-modules.html#errors-are-handled-for-you">Errors Are Handled For You</a></li>
<li><a href="/storyplayer/v2/learn/fundamentals/understanding-storyplayer-modules.html#writing-your-own-modules">Writing Your Own Modules</a></li>
</ul>
<li><a href="/storyplayer/v2/learn/fundamentals/user-stories.html">User Stories</a></li>
<ul>
<li><a href="/storyplayer/v2/learn/fundamentals/user-stories.html#what-is-a-user-story">What Is A User Story?</a></li>
<li><a href="/storyplayer/v2/learn/fundamentals/user-stories.html#good-stories-are-long-lived">Good Stories Are Long-Lived</a></li>
<li><a href="/storyplayer/v2/learn/fundamentals/user-stories.html#invest-in-your-stories">INVEST In Your Stories</a></li>
<li><a href="/storyplayer/v2/learn/fundamentals/user-stories.html#at-the-heart-of-the-process">At The Heart Of The Process</a></li>
<li><a href="/storyplayer/v2/learn/fundamentals/user-stories.html#further-reading">Further Reading</a></li>
</ul>
<li><a href="/storyplayer/v2/learn/fundamentals/service-stories.html">Service Stories</a></li>
<ul>
<li><a href="/storyplayer/v2/learn/fundamentals/service-stories.html#what-is-a-service-story">What Is A Service Story?</a></li>
<li><a href="/storyplayer/v2/learn/fundamentals/service-stories.html#service-stories-help-with-planning-user-stories">Service Stories Help With Planning User Stories</a></li>
<li><a href="/storyplayer/v2/learn/fundamentals/service-stories.html#service-stories-help-with-improving-quality">Service Stories Help With Improving Quality</a></li>
<li><a href="/storyplayer/v2/learn/fundamentals/service-stories.html#further-reading">Further Reading</a></li>
</ul>
<li><a href="/storyplayer/v2/learn/fundamentals/understanding-system-under-test.html">Understanding The System Under Test</a></li>
<ul>
<li><a href="/storyplayer/v2/learn/fundamentals/understanding-system-under-test.html#what-is-a-system-under-test">What Is A System Under Test?</a></li>
<li><a href="/storyplayer/v2/learn/fundamentals/understanding-system-under-test.html#what-does-storyplayer-need-to-know-about-a-system-under-test">What Does Storyplayer Need To Know About A System Under Test?</a></li>
</ul>
<li><a href="/storyplayer/v2/learn/fundamentals/understanding-test-environments.html">Understanding Test Environments</a></li>
<ul>
<li><a href="/storyplayer/v2/learn/fundamentals/understanding-test-environments.html#what-is-a-test-environment">What Is A Test Environment?</a></li>
<li><a href="/storyplayer/v2/learn/fundamentals/understanding-test-environments.html#what-does-storyplayer-need-to-know-about-a-test-environment">What Does Storyplayer Need To Know About A Test Environment?</a></li>
<li><a href="/storyplayer/v2/learn/fundamentals/understanding-test-environments.html#that-sounds-like-a-lot">That Sounds Like A Lot!</a></li>
<li><a href="/storyplayer/v2/learn/fundamentals/understanding-test-environments.html#further-reading">Further Reading</a></li>
</ul>
<li><a href="/storyplayer/v2/learn/fundamentals/belt-and-braces-testing.html">Belt and Braces Testing</a></li>
<ul>
<li><a href="/storyplayer/v2/learn/fundamentals/belt-and-braces-testing.html#our-scenario---testing-user-registration">Our Scenario - Testing User Registration</a></li>
<li><a href="/storyplayer/v2/learn/fundamentals/belt-and-braces-testing.html#avoid-the-illusion-of-success">Avoid The Illusion Of Success</a></li>
<li><a href="/storyplayer/v2/learn/fundamentals/belt-and-braces-testing.html#verify-dont-assume">Verify, Don’t Assume</a></li>
<li><a href="/storyplayer/v2/learn/fundamentals/belt-and-braces-testing.html#write-tests-for-alternative-scenarios-too">Write Tests For Alternative Scenarios Too</a></li>
<li><a href="/storyplayer/v2/learn/fundamentals/belt-and-braces-testing.html#test-order-makes-a-difference">Test Order Makes A Difference</a></li>
<li><a href="/storyplayer/v2/learn/fundamentals/belt-and-braces-testing.html#further-reading">Further Reading</a></li>
</ul>
