<h3>This Section</h3>
<ol><li><a href="index.html">Example Project: OpenCFP</a></li>
<li><a href="01-exploring-the-project.html">Step 1: Exploring The Project</a></li>
<li><a href="02-what-are-our-stories.html">Step 2: What Are Our Stories?</a></li>
<ul>
<li><a href="02-what-are-our-stories.html#who-are-our-actors">Who Are Our Actors?</a></li>
</ul>
<li><a href="03-building-a-test-environment.html">Step 3: Building A Test Environment</a></li>
<li><a href="04-registering-test-users.html">Step 4: Registering Test Users</a></li>
<li><a href="05-testing-the-website.html">Step 5: Testing The Website</a></li>
<li><a href="06-testing-the-admin-functions.html">Step 6: Testing The Admin Functions</a></li>
<li><a href="07-testing-the-command-line-utilities.html">Step 7: Testing The Command-Line Utilities</a></li>
<li><a href="08-final-thoughts.html">Step 8: Final Thoughts</a></li>
