<h3>This Section</h3>
<ol><li><a href="/storyplayer/v2/modules/config/index.html">The Config Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/config/index.html#introduction">Introduction</a></li>
<li><a href="/storyplayer/v2/modules/config/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/config/index.html#using-the-config-module">Using The Config Module</a></li>
<li><a href="/storyplayer/v2/modules/config/index.html#source-code">Source Code</a></li>
</ul>
