<h3>This Section</h3>
<ol><li><a href="/storyplayer/v2/modules/assertions/index.html">The Assertions Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/assertions/index.html#introduction">Introduction</a></li>
<li><a href="/storyplayer/v2/modules/assertions/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/assertions/index.html#using-the-assertions-module">Using The Assertions Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/assertions/assertsArray.html">Array Assertions</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/assertions/assertsArray.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsArray.html#containsvalue">containsValue()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsArray.html#doesnotcontainvalue">doesNotContainValue()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsArray.html#doesnotequal">doesNotEqual()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsArray.html#doesnothavekey">doesNotHaveKey()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsArray.html#equals">equals()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsArray.html#haskey">hasKey()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsArray.html#haslength">hasLength()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsArray.html#isarray">isArray()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsArray.html#isempty">isEmpty()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsArray.html#isnotempty">isNotEmpty()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsArray.html#isnull">isNull()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsArray.html#isnotnull">isNotNull()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsArray.html#issamelengthas">isSameLengthAs()</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/assertions/assertsBoolean.html">Boolean Assertions</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/assertions/assertsBoolean.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsBoolean.html#doesnotequal">doesNotEqual()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsBoolean.html#equals">equals()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsBoolean.html#isboolean">isBoolean()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsBoolean.html#isfalse">isFalse()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsBoolean.html#isnull">isNull()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsBoolean.html#isnotnull">isNotNull()</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/assertions/assertsDouble.html">Double Assertions</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/assertions/assertsDouble.html#doesnotequal">doesNotEqual()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsDouble.html#equals">equals()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsDouble.html#isdouble">isDouble()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsDouble.html#isempty">isEmpty()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsDouble.html#isgreaterthan">isGreaterThan()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsDouble.html#isgreaterthanorequalto">isGreaterThanOrEqualTo()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsDouble.html#islessthan">isLessThan()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsDouble.html#islessthanorequalto">isLessThanOrEqualTo()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsDouble.html#isnotempty">isNotEmpty()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsDouble.html#isnull">isNull()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsDouble.html#isnotnull">isNotNull()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsDouble.html#isnotsameas">isNotSameAs()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsDouble.html#issameas">isSameAs()</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/assertions/assertsInteger.html">Integer Assertions</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/assertions/assertsInteger.html#doesnotequal">doesNotEqual()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsInteger.html#equals">equals()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsInteger.html#isempty">isEmpty()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsInteger.html#isgreaterthan">isGreaterThan()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsInteger.html#isgreaterthanorequalto">isGreaterThanOrEqualTo()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsInteger.html#isinteger">isInteger()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsInteger.html#islessthan">isLessThan()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsInteger.html#islessthanorequalto">isLessThanOrEqualTo()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsInteger.html#isnotempty">isNotEmpty()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsInteger.html#isnull">isNull()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsInteger.html#isnotnull">isNotNull()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsInteger.html#isnotsameas">isNotSameAs()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsInteger.html#issameas">isSameAs()</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/assertions/assertsObject.html">Object Assertions</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/assertions/assertsObject.html#doesnotequal">doesNotEqual()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsObject.html#doesnothaveattribute">doesNotHaveAttribute()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsObject.html#doesnothavemethod">doesNotHaveMethod()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsObject.html#equals">equals()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsObject.html#hasattribute">hasAttribute()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsObject.html#hasmethod">hasMethod()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsObject.html#isempty">isEmpty()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsObject.html#isnotempty">isNotEmpty()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsObject.html#isinstanceof">isInstanceOf()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsObject.html#isnull">isNull()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsObject.html#isnotinstanceof">isNotInstanceOf()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsObject.html#isnotnull">isNotNull()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsObject.html#isnotsameas">isNotSameAs()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsObject.html#isobject">isObject()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsObject.html#issameas">isSameAs()</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/assertions/assertsString.html">String Assertions</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/assertions/assertsString.html#doesnotendwith">doesNotEndWith()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsString.html#doesnotequal">doesNotEqual()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsString.html#doesnotmatchregex">doesNotMatchRegex()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsString.html#doesnotstartwith">doesNotStartWith()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsString.html#endswith">endsWith()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsString.html#equals">equals()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsString.html#isempty">isEmpty()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsString.html#ishash">isHash()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsString.html#isnotempty">isNotEmpty()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsString.html#isnull">isNull()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsString.html#isnotnull">isNotNull()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsString.html#isnotsameas">isNotSameAs()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsString.html#isnotvalidjson">isNotValidJson()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsString.html#issameas">isSameAs()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsString.html#isstring">isString()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsString.html#isuuid">isUuid()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsString.html#isvalidjson">isValidJson()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsString.html#matchesregex">matchesRegex()</a></li>
<li><a href="/storyplayer/v2/modules/assertions/assertsString.html#startswith">startsWith()</a></li>
</ul>
