<h3>This Section</h3>
<ol><li><a href="/storyplayer/modules/shell/index.html">The UNIX Shell Module</a></li>
<ul>
<li><a href="index.html#everything_is_screened">Everything Is Screened</a></li>
<li><a href="index.html#dependencies">Dependencies</a></li>
<li><a href="index.html#using_the_unix_shell_module">Using The UNIX Shell Module</a></li>
</ul>
<li><a href="/storyplayer/modules/shell/child-processes.html">The Role Of Child Processes In Testing</a></li>
<ul>
<li><a href="child-processes.html#why_do_we_need_child_processes_at_all">Why Do We Need Child Processes At All?</a></li>
<li><a href="child-processes.html#how_do_we_use_child_processes">How Do We Use Child Processes?</a></li>
<li><a href="child-processes.html#an_example">An Example</a></li>
</ul>
<li><a href="/storyplayer/modules/shell/fromShell.html">fromShell()</a></li>
<ul>
<li><a href="fromShell.html#behaviour_and_return_codes">Behaviour And Return Codes</a></li>
<li><a href="fromShell.html#getisscreenrunning">getIsScreenRunning()</a></li>
<li><a href="fromShell.html#getisprocessrunning">getIsProcessRunning()</a></li>
<li><a href="fromShell.html#getscreensessiondetails">getScreenSessionDetails()</a></li>
<li><a href="fromShell.html#getallscreensessions">getAllScreenSessions()</a></li>
</ul>
<li><a href="/storyplayer/modules/shell/expectsShell.html">expectsShell()</a></li>
<ul>
<li><a href="expectsShell.html#behaviour_and_return_codes">Behaviour And Return Codes</a></li>
<li><a href="expectsShell.html#isrunninginscreen">isRunningInScreen()</a></li>
<li><a href="expectsShell.html#isnotrunninginscreen">isNotRunningInScreen()</a></li>
</ul>
<li><a href="/storyplayer/modules/shell/usingShell.html">usingShell()</a></li>
<ul>
<li><a href="usingShell.html#behaviour_and_return_codes">Behaviour And Return Codes</a></li>
<li><a href="usingShell.html#runcommand">runCommand()</a></li>
<li><a href="usingShell.html#startinscreen">startInScreen()</a></li>
<li><a href="usingShell.html#stopinscreen">stopInScreen()</a></li>
<li><a href="usingShell.html#stopallscreens">stopAllScreens()</a></li>
<li><a href="usingShell.html#stopprocess">stopProcess()</a></li>
</ul>
