<h3>This Section</h3>
<ol><li><a href="/storyplayer/v2/modules/config/index.html">The Config Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/config/index.html#introduction">Introduction</a></li>
<li><a href="/storyplayer/v2/modules/config/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/config/index.html#using-the-config-module">Using The Config Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/config/fromConfig.html">fromConfig()</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/config/fromConfig.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="/storyplayer/v2/modules/config/fromConfig.html#get">get()</a></li>
<li><a href="/storyplayer/v2/modules/config/fromConfig.html#getall">getAll()</a></li>
<li><a href="/storyplayer/v2/modules/config/fromConfig.html#getmodulesetting">getModuleSetting()</a></li>
<li><a href="/storyplayer/v2/modules/config/fromConfig.html#hasmodulesetting">hasModuleSetting()</a></li>
</ul>
