<h3>This Section</h3>
<ol><li><a href="http/index.html">The HTTP Module</a></li>
<ul>
<li><a href="http/index.html#introduction">Introduction</a></li>
<li><a href="http/index.html#which-module-should-i-use---http-or-browser--form">Which Module Should I Use - HTTP or Browser / Form?</a></li>
<li><a href="http/index.html#restful-or-not---its-your-choice">RESTful Or Not - It’s Your Choice</a></li>
<li><a href="http/index.html#soap-support">SOAP Support</a></li>
<li><a href="http/index.html#ssl-support">SSL Support</a></li>
<li><a href="http/index.html#dependencies">Dependencies</a></li>
<li><a href="http/index.html#using-the-http-module">Using The HTTP Module</a></li>
</ul>
<li><a href="http/HttpClientResponse.html">The HttpClientResponse Object</a></li>
<ul>
<li><a href="http/HttpClientResponse.html#public-api">Public API</a></li>
</ul>
<li><a href="http/expectsHttpResponse.html">expectsHttpResponse()</a></li>
<ul>
<li><a href="http/expectsHttpResponse.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="http/expectsHttpResponse.html#hasstatuscode">hasStatusCode()</a></li>
<li><a href="http/expectsHttpResponse.html#hasbody">hasBody()</a></li>
</ul>
<li><a href="http/fromHttp.html">fromHttp()</a></li>
<ul>
<li><a href="http/fromHttp.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="http/fromHttp.html#get">get()</a></li>
</ul>
<li><a href="http/usingHttp.html">usingHttp()</a></li>
<ul>
<li><a href="http/usingHttp.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="http/usingHttp.html#get">get()</a></li>
<li><a href="http/usingHttp.html#delete">delete()</a></li>
<li><a href="http/usingHttp.html#post">post()</a></li>
<li><a href="http/usingHttp.html#put">put()</a></li>
</ul>
