<h3>This Section</h3>
<ol><li><a href="/storyplayer/v2/modules/shell/index.html">The UNIX Shell Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/shell/index.html#the-shell-module-now-runs-on-localhost">The Shell Module Now Runs On Localhost</a></li>
<li><a href="/storyplayer/v2/modules/shell/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/shell/index.html#using-the-unix-shell-module">Using The UNIX Shell Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/shell/child-processes.html">The Role Of Child Processes In Testing</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/shell/child-processes.html#why-do-we-need-child-processes-at-all">Why Do We Need Child Processes At All?</a></li>
<li><a href="/storyplayer/v2/modules/shell/child-processes.html#how-do-we-use-child-processes">How Do We Use Child Processes?</a></li>
<li><a href="/storyplayer/v2/modules/shell/child-processes.html#an-example">An Example</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/shell/fromShell.html">fromShell()</a></li>
<li><a href="/storyplayer/v2/modules/shell/expectsShell.html">expectsShell()</a></li>
<li><a href="/storyplayer/v2/modules/shell/usingShell.html">usingShell()</a></li>
