<h3>This Section</h3>
<ol><li><a href="environment/index.html">The Environment Module</a></li>
<ul>
<li><a href="environment/index.html#introduction">Introduction</a></li>
<li><a href="environment/index.html#what-is-the-environment">What Is The Environment?</a></li>
<li><a href="environment/index.html#dependencies">Dependencies</a></li>
<li><a href="environment/index.html#using-the-environment-module">Using The Environment Module</a></li>
</ul>
<li><a href="environment/fromEnvironment.html">fromEnvironment()</a></li>
<ul>
<li><a href="environment/fromEnvironment.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="environment/fromEnvironment.html#getappsetting">getAppSetting()</a></li>
<li><a href="environment/fromEnvironment.html#getappsettings">getAppSettings()</a></li>
</ul>
