<h3>This Section</h3>
<ol><li><a href="/storyplayer/v2/modules/vagrant/index.html">The Vagrant Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/vagrant/index.html#does-your-code-actually-work">Does Your Code Actually Work?</a></li>
<li><a href="/storyplayer/v2/modules/vagrant/index.html#what-is-the-cost-of-your-working-code">What Is The Cost Of Your Working Code?</a></li>
<li><a href="/storyplayer/v2/modules/vagrant/index.html#why-vagrant">Why Vagrant?</a></li>
<li><a href="/storyplayer/v2/modules/vagrant/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/vagrant/index.html#before-you-use-the-vagrant-module">Before You Use The Vagrant Module</a></li>
<li><a href="/storyplayer/v2/modules/vagrant/index.html#configuring-the-vagrant-module">Configuring The Vagrant Module</a></li>
<li><a href="/storyplayer/v2/modules/vagrant/index.html#using-the-vagrant-module">Using The Vagrant Module</a></li>
<li><a href="/storyplayer/v2/modules/vagrant/index.html#an-example">An Example</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/vagrant/supported-guests.html">Supported Guest Operating Systems</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/vagrant/supported-guests.html#fully-supported">Fully Supported</a></li>
<li><a href="/storyplayer/v2/modules/vagrant/supported-guests.html#how-to-add-support-for-a-new-guest">How To Add Support For A New Guest</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/vagrant/usingVagrant.html">usingVagrant()</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/vagrant/usingVagrant.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="/storyplayer/v2/modules/vagrant/usingVagrant.html#createvm">createVm()</a></li>
<li><a href="/storyplayer/v2/modules/vagrant/usingVagrant.html#destroyvm">destroyVm()</a></li>
<li><a href="/storyplayer/v2/modules/vagrant/usingVagrant.html#startvm">startVm()</a></li>
<li><a href="/storyplayer/v2/modules/vagrant/usingVagrant.html#stopvm">stopVm()</a></li>
<li><a href="/storyplayer/v2/modules/vagrant/usingVagrant.html#restartvm">restartVm()</a></li>
<li><a href="/storyplayer/v2/modules/vagrant/usingVagrant.html#poweroffvm">powerOffVm()</a></li>
<li><a href="/storyplayer/v2/modules/vagrant/usingVagrant.html#runvagrantcommand">runVagrantCommand()</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/vagrant/fromVagrant.html">fromVagrant()</a></li>
<li><a href="/storyplayer/v2/modules/vagrant/expectsVagrant.html">expectsVagrant()</a></li>
