<h3>This Section</h3>
<ol><li><a href="/storyplayer/v2/modules/iterators/index.html">Iterators</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/iterators/index.html#what-are-iterators">What Are Iterators?</a></li>
<li><a href="/storyplayer/v2/modules/iterators/index.html#why-do-we-need-iterators">Why Do We Need Iterators?</a></li>
<li><a href="/storyplayer/v2/modules/iterators/index.html#performing-an-action-against-one-host-out-of-many">Performing An Action Against One Host Out Of Many</a></li>
<li><a href="/storyplayer/v2/modules/iterators/index.html#performing-an-action-against-many-hosts">Performing An Action Against Many Hosts</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/iterators/hostWithRole.html">foreach(hostWithRole())</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/iterators/hostWithRole.html#the-iterator">The Iterator</a></li>
<li><a href="/storyplayer/v2/modules/iterators/hostWithRole.html#error-handling">Error Handling</a></li>
<li><a href="/storyplayer/v2/modules/iterators/hostWithRole.html#discussion">Discussion</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/iterators/firstHostWithRole.html">foreach(firstHostWithRole())</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/iterators/firstHostWithRole.html#the-iterator">The Iterator</a></li>
<li><a href="/storyplayer/v2/modules/iterators/firstHostWithRole.html#error-handling">Error Handling</a></li>
<li><a href="/storyplayer/v2/modules/iterators/firstHostWithRole.html#discussion">Discussion</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/iterators/lastHostWithRole.html">foreach(lastHostWithRole())</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/iterators/lastHostWithRole.html#the-iterator">The Iterator</a></li>
<li><a href="/storyplayer/v2/modules/iterators/lastHostWithRole.html#error-handling">Error Handling</a></li>
<li><a href="/storyplayer/v2/modules/iterators/lastHostWithRole.html#discussion">Discussion</a></li>
</ul>
