<h3>This Section</h3>
<ol><li><a href="/storyplayer/v2/modules/zmq/index.html">The ZMQ Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/zmq/index.html#sometimes-an-external-messaging-tool-is-best">Sometimes An External Messaging Tool Is Best</a></li>
<li><a href="/storyplayer/v2/modules/zmq/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/zmq/index.html#using-the-zeromq-module">Using The ZeroMQ Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/zmq/expectsZmq.html">expectsZmq()</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/zmq/expectsZmq.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="/storyplayer/v2/modules/zmq/expectsZmq.html#cansendmultinonblocking">canSendmultiNonBlocking()</a></li>
<li><a href="/storyplayer/v2/modules/zmq/expectsZmq.html#requirementsaremet">requirementsAreMet()</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/zmq/usingZmq.html">usingZmq()</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/zmq/usingZmq.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="/storyplayer/v2/modules/zmq/usingZmq.html#bind">bind()</a></li>
<li><a href="/storyplayer/v2/modules/zmq/usingZmq.html#connect">connect()</a></li>
<li><a href="/storyplayer/v2/modules/zmq/usingZmq.html#recv">recv()</a></li>
<li><a href="/storyplayer/v2/modules/zmq/usingZmq.html#recvmulti">recvMulti()</a></li>
<li><a href="/storyplayer/v2/modules/zmq/usingZmq.html#recvmultinonblocking">recvMultiNonBlocking()</a></li>
<li><a href="/storyplayer/v2/modules/zmq/usingZmq.html#recvnonblocking">recvNonBlocking()</a></li>
<li><a href="/storyplayer/v2/modules/zmq/usingZmq.html#send">send()</a></li>
<li><a href="/storyplayer/v2/modules/zmq/usingZmq.html#sendmulti">sendMulti()</a></li>
</ul>
