<h3>This Section</h3>
<ol><li><a href="index.html">The SavageD Module</a></li>
<ul>
<li><a href="index.html#what_is_savaged">What Is SavageD?</a></li>
<li><a href="index.html#dependencies">Dependencies</a></li>
<li><a href="index.html#configuration">Configuration</a></li>
<li><a href="index.html#using_the_savaged_module">Using The SavageD Module</a></li>
</ul>
<li><a href="usingSavageD.html">usingSavageD()</a></li>
<ul>
<li><a href="usingSavageD.html#behaviour_and_return_codes">Behaviour And Return Codes</a></li>
<li><a href="usingSavageD.html#api_call_order">API Call Order</a></li>
<li><a href="usingSavageD.html#deletestatsprefix">deleteStatsPrefix()</a></li>
<li><a href="usingSavageD.html#setstatsprefix">setStatsPrefix()</a></li>
<li><a href="usingSavageD.html#startmonitoring">startMonitoring()</a></li>
<li><a href="usingSavageD.html#stopmonitoring">stopMonitoring()</a></li>
<li><a href="usingSavageD.html#stopwatchingprocess">stopWatchingProcess()</a></li>
<li><a href="usingSavageD.html#stopwatchingprocesscpu">stopWatchingProcessCpu()</a></li>
<li><a href="usingSavageD.html#stopwatchingprocessmemory">stopWatchingProcessMemory()</a></li>
<li><a href="usingSavageD.html#stopwatchingservercpu">stopWatchingServerCpu()</a></li>
<li><a href="usingSavageD.html#stopwatchingserverloadavg">stopWatchingServerLoadavg()</a></li>
<li><a href="usingSavageD.html#watchprocess">watchProcess()</a></li>
<li><a href="usingSavageD.html#watchprocesscpu">watchProcessCpu()</a></li>
<li><a href="usingSavageD.html#watchprocessmemory">watchProcessMemory()</a></li>
<li><a href="usingSavageD.html#watchservercpu">watchServerCpu()</a></li>
<li><a href="usingSavageD.html#watchserverloadavg">watchServerLoadavg()</a></li>
</ul>
