<h3>This Section</h3>
<ol><li><a href="hoststable/index.html">The HostsTable Module</a></li>
<ul>
<li><a href="hoststable/index.html#dependencies">Dependencies</a></li>
<li><a href="hoststable/index.html#using-the-hoststable-module">Using The HostsTable Module</a></li>
</ul>
<li><a href="hoststable/how-hosts-are-remembered.html">How Hosts Are Remembered</a></li>
<ul>
<li><a href="hoststable/how-hosts-are-remembered.html#the-storyplayer-hosts-table">The Storyplayer Hosts Table</a></li>
<li><a href="hoststable/how-hosts-are-remembered.html#smoke-testing">Smoke Testing</a></li>
<li><a href="hoststable/how-hosts-are-remembered.html#creating-new-tests">Creating New Tests</a></li>
</ul>
<li><a href="hoststable/fromHostsTable.html">fromHostsTable()</a></li>
<ul>
<li><a href="hoststable/fromHostsTable.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="hoststable/fromHostsTable.html#getdetailsforhost">getDetailsForHost()</a></li>
<li><a href="hoststable/fromHostsTable.html#gethoststable">getHostsTable()</a></li>
</ul>
<li><a href="hoststable/expectsHostsTable.html">expectsHostsTable()</a></li>
<ul>
<li><a href="hoststable/expectsHostsTable.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="hoststable/expectsHostsTable.html#hasentryforhost">hasEntryForHost()</a></li>
</ul>
<li><a href="hoststable/usingHostsTable.html">usingHostsTable()</a></li>
<ul>
<li><a href="hoststable/usingHostsTable.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="hoststable/usingHostsTable.html#addhost">addHost()</a></li>
<li><a href="hoststable/usingHostsTable.html#removehost">removeHost()</a></li>
</ul>
