<h3>This Section</h3>
<ol><li><a href="index.html">The Host Module</a></li>
<ul>
<li><a href="index.html#dependencies">Dependencies</a></li>
<li><a href="index.html#using-the-host-module">Using The Host Module</a></li>
</ul>
<li><a href="supported-hosts.html">Supported Hosts</a></li>
<ul>
<li><a href="supported-hosts.html#what-hosts-do-we-support">What Hosts Do We Support?</a></li>
<li><a href="supported-hosts.html#how-to-add-support-for-a-new-host">How To Add Support For A New Host</a></li>
</ul>
<li><a href="fromHost.html">fromHost()</a></li>
<ul>
<li><a href="fromHost.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="fromHost.html#getdetails">getDetails()</a></li>
<li><a href="fromHost.html#gethostisrunning">getHostIsRunning()</a></li>
<li><a href="fromHost.html#getinstalledpackagedetails">getInstalledPackageDetails()</a></li>
<li><a href="fromHost.html#getipaddress">getIpAddress()</a></li>
<li><a href="fromHost.html#getpid">getPid()</a></li>
<li><a href="fromHost.html#getprocessisrunning">getProcessIsRunning()</a></li>
<li><a href="fromHost.html#getsshusername">getSshUsername()</a></li>
<li><a href="fromHost.html#getsshkeyfile">getSshKeyFile()</a></li>
</ul>
<li><a href="expectsHost.html">expectsHost()</a></li>
<ul>
<li><a href="expectsHost.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="expectsHost.html#hostisrunning">hostIsRunning()</a></li>
<li><a href="expectsHost.html#hostisnotrunning">hostIsNotRunning()</a></li>
<li><a href="expectsHost.html#packageisinstalled">packageIsInstalled()</a></li>
<li><a href="expectsHost.html#packageisnotinstalled">packageIsNotInstalled()</a></li>
<li><a href="expectsHost.html#processisrunning">processIsRunning()</a></li>
<li><a href="expectsHost.html#processisnotrunning">processIsNotRunning()</a></li>
</ul>
<li><a href="usingHost.html">usingHost()</a></li>
<ul>
<li><a href="usingHost.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="usingHost.html#runcommand">runCommand()</a></li>
<li><a href="usingHost.html#runcommandandignoreerrors">runCommandAndIgnoreErrors()</a></li>
<li><a href="usingHost.html#runcommandasuser">runCommandAsUser()</a></li>
<li><a href="usingHost.html#runcommandasuserandignoreerrors">runCommandAsUserAndIgnoreErrors()</a></li>
</ul>
