<h3>This Section</h3>
<ol><li><a href="/storyplayer/v2/modules/host/index.html">The Host Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/host/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/host/index.html#using-the-host-module">Using The Host Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/host/fromHost.html">fromHost()</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/host/fromHost.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="/storyplayer/v2/modules/host/fromHost.html#downloadfile">downloadFile()</a></li>
<li><a href="/storyplayer/v2/modules/host/fromHost.html#getallscreensessions">getAllScreenSessions()</a></li>
<li><a href="/storyplayer/v2/modules/host/fromHost.html#getappsetting">getAppSetting()</a></li>
<li><a href="/storyplayer/v2/modules/host/fromHost.html#getappsettings">getAppSettings()</a></li>
<li><a href="/storyplayer/v2/modules/host/fromHost.html#getdetails">getDetails()</a></li>
<li><a href="/storyplayer/v2/modules/host/fromHost.html#getfiledetails">getFileDetails()</a></li>
<li><a href="/storyplayer/v2/modules/host/fromHost.html#gethostisrunning">getHostIsRunning()</a></li>
<li><a href="/storyplayer/v2/modules/host/fromHost.html#gethostname">getHostname()</a></li>
<li><a href="/storyplayer/v2/modules/host/fromHost.html#getinstalledpackagedetails">getInstalledPackageDetails()</a></li>
<li><a href="/storyplayer/v2/modules/host/fromHost.html#getipaddress">getIpAddress()</a></li>
<li><a href="/storyplayer/v2/modules/host/fromHost.html#getpid">getPid()</a></li>
<li><a href="/storyplayer/v2/modules/host/fromHost.html#getpidisrunning">getPidIsRunning()</a></li>
<li><a href="/storyplayer/v2/modules/host/fromHost.html#getprocessisrunning">getProcessIsRunning()</a></li>
<li><a href="/storyplayer/v2/modules/host/fromHost.html#getscreensessiondetails">getScreenSessionDetails()</a></li>
<li><a href="/storyplayer/v2/modules/host/fromHost.html#getscreenisrunning">getScreenIsRunning()</a></li>
<li><a href="/storyplayer/v2/modules/host/fromHost.html#getsshusername">getSshUsername()</a></li>
<li><a href="/storyplayer/v2/modules/host/fromHost.html#getsshkeyfile">getSshKeyFile()</a></li>
<li><a href="/storyplayer/v2/modules/host/fromHost.html#getstorysetting">getStorySetting()</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/host/expectsHost.html">expectsHost()</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/host/expectsHost.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="/storyplayer/v2/modules/host/expectsHost.html#hasfilewithpermissions">hasFileWithPermissions()</a></li>
<li><a href="/storyplayer/v2/modules/host/expectsHost.html#hasfolderwithpermissions">hasFolderWithPermissions()</a></li>
<li><a href="/storyplayer/v2/modules/host/expectsHost.html#hostisrunning">hostIsRunning()</a></li>
<li><a href="/storyplayer/v2/modules/host/expectsHost.html#hostisnotrunning">hostIsNotRunning()</a></li>
<li><a href="/storyplayer/v2/modules/host/expectsHost.html#packageisinstalled">packageIsInstalled()</a></li>
<li><a href="/storyplayer/v2/modules/host/expectsHost.html#packageisnotinstalled">packageIsNotInstalled()</a></li>
<li><a href="/storyplayer/v2/modules/host/expectsHost.html#processisrunning">processIsRunning()</a></li>
<li><a href="/storyplayer/v2/modules/host/expectsHost.html#processisnotrunning">processIsNotRunning()</a></li>
<li><a href="/storyplayer/v2/modules/host/expectsHost.html#screenisrunning">screenIsRunning()</a></li>
<li><a href="/storyplayer/v2/modules/host/expectsHost.html#screenisnotrunning">screenIsNotRunning()</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/host/usingHost.html">usingHost()</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/host/usingHost.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="/storyplayer/v2/modules/host/usingHost.html#runcommand">runCommand()</a></li>
<li><a href="/storyplayer/v2/modules/host/usingHost.html#runcommandandignoreerrors">runCommandAndIgnoreErrors()</a></li>
<li><a href="/storyplayer/v2/modules/host/usingHost.html#runcommandasuser">runCommandAsUser()</a></li>
<li><a href="/storyplayer/v2/modules/host/usingHost.html#runcommandasuserandignoreerrors">runCommandAsUserAndIgnoreErrors()</a></li>
<li><a href="/storyplayer/v2/modules/host/usingHost.html#startinscreen">startInScreen()</a></li>
<li><a href="/storyplayer/v2/modules/host/usingHost.html#stopinscreen">stopInScreen()</a></li>
<li><a href="/storyplayer/v2/modules/host/usingHost.html#stopallscreens">stopAllScreens()</a></li>
<li><a href="/storyplayer/v2/modules/host/usingHost.html#stopprocess">stopProcess()</a></li>
<li><a href="/storyplayer/v2/modules/host/usingHost.html#uploadfile">uploadFile()</a></li>
</ul>
