<h3>This Section</h3>
<ol><li><a href="/storyplayer/modules/vagrant/index.html">The Vagrant Module</a></li>
<ul>
<li><a href="index.html#does_your_code_actually_work">Does Your Code Actually Work?</a></li>
<li><a href="index.html#what_is_the_cost_of_your_working_code">What Is The Cost Of Your Working Code?</a></li>
<li><a href="index.html#why_vagrant">Why Vagrant?</a></li>
<li><a href="index.html#dependencies">Dependencies</a></li>
<li><a href="index.html#before_you_use_the_vagrant_module">Before You Use The Vagrant Module</a></li>
<li><a href="index.html#configuring_the_vagrant_module">Configuring The Vagrant Module</a></li>
<li><a href="index.html#using_the_vagrant_module">Using The Vagrant Module</a></li>
<li><a href="index.html#an_example">An Example</a></li>
</ul>
<li><a href="/storyplayer/modules/vagrant/supported-guests.html">Supported Guest Operating Systems</a></li>
<ul>
<li><a href="supported-guests.html#fully_supported">Fully Supported</a></li>
<li><a href="supported-guests.html#how_to_add_support_for_a_new_guest">How To Add Support For A New Guest</a></li>
</ul>
<li><a href="/storyplayer/modules/vagrant/usingVagrant.html">usingVagrant()</a></li>
<ul>
<li><a href="usingVagrant.html#behaviour_and_return_codes">Behaviour And Return Codes</a></li>
<li><a href="usingVagrant.html#createvm">createVm()</a></li>
<li><a href="usingVagrant.html#destroyvm">destroyVm()</a></li>
<li><a href="usingVagrant.html#startvm">startVm()</a></li>
<li><a href="usingVagrant.html#stopvm">stopVm()</a></li>
<li><a href="usingVagrant.html#restartvm">restartVm()</a></li>
<li><a href="usingVagrant.html#poweroffvm">powerOffVm()</a></li>
<li><a href="usingVagrant.html#runvagrantcommand">runVagrantCommand()</a></li>
</ul>
<li><a href="/storyplayer/modules/vagrant/fromVagrant.html">fromVagrant()</a></li>
<li><a href="/storyplayer/modules/vagrant/expectsVagrant.html">expectsVagrant()</a></li>
