<h3>This Section</h3>
<ol><li><a href="/storyplayer/v2/modules/index.html">Storyplayer Modules</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/index.html#modules-for-stories">Modules For Stories</a></li>
<li><a href="/storyplayer/v2/modules/index.html#iterators">Iterators</a></li>
<li><a href="/storyplayer/v2/modules/index.html#internal-modules">Internal Modules</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/aws/index.html">The Amazon AWS Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/aws/index.html#using-the-official-amazon-sdk">Using The Official Amazon SDK</a></li>
<li><a href="/storyplayer/v2/modules/aws/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/aws/index.html#configuring-the-aws-module">Configuring The AWS Module</a></li>
<li><a href="/storyplayer/v2/modules/aws/index.html#using-the-aws-module">Using The AWS Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/ec2/index.html">The Amazon EC2 Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/ec2/index.html#does-your-code-actually-work">Does Your Code Actually Work?</a></li>
<li><a href="/storyplayer/v2/modules/ec2/index.html#what-is-the-cost-of-your-working-code">What Is The Cost Of Your Working Code?</a></li>
<li><a href="/storyplayer/v2/modules/ec2/index.html#why-amazon-ec2">Why Amazon EC2?</a></li>
<li><a href="/storyplayer/v2/modules/ec2/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/ec2/index.html#before-you-use-the-ec2-module">Before You Use The EC2 Module</a></li>
<li><a href="/storyplayer/v2/modules/ec2/index.html#configuring-the-ec2-module">Configuring The EC2 Module</a></li>
<li><a href="/storyplayer/v2/modules/ec2/index.html#using-the-ec2-module">Using The EC2 Module</a></li>
<li><a href="/storyplayer/v2/modules/ec2/index.html#an-example">An Example</a></li>
<li><a href="/storyplayer/v2/modules/ec2/index.html#instance-naming-on-ec2">Instance Naming On EC2</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/assertions/index.html">The Assertions Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/assertions/index.html#introduction">Introduction</a></li>
<li><a href="/storyplayer/v2/modules/assertions/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/assertions/index.html#using-the-assertions-module">Using The Assertions Module</a></li>
<li><a href="/storyplayer/v2/modules/assertions/index.html#on-failure">On Failure</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/browser/index.html">The Browser Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/browser/index.html#introduction">Introduction</a></li>
<li><a href="/storyplayer/v2/modules/browser/index.html#we-only-support-real-web-browsers">We Only Support Real Web Browsers</a></li>
<li><a href="/storyplayer/v2/modules/browser/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/browser/index.html#using-the-browser-module">Using The Browser Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/checkpoint/index.html">The Checkpoint Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/checkpoint/index.html#introduction">Introduction</a></li>
<li><a href="/storyplayer/v2/modules/checkpoint/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/checkpoint/index.html#using-the-checkpoint-module">Using The Checkpoint Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/curl/index.html">The cURL Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/curl/index.html#why-two-competing-modules">Why Two Competing Modules?</a></li>
<li><a href="/storyplayer/v2/modules/curl/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/curl/index.html#using-the-curl-module">Using The cURL Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/failure/index.html">The Failure Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/failure/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/failure/index.html#using-the-failure-module">Using The Failure Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/file/index.html">The File Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/file/index.html#introduction">Introduction</a></li>
<li><a href="/storyplayer/v2/modules/file/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/file/index.html#using-the-file-module">Using The File Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/form/index.html">The Form Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/form/index.html#introduction">Introduction</a></li>
<li><a href="/storyplayer/v2/modules/form/index.html#why-a-separate-form-module">Why A Separate Form Module?</a></li>
<li><a href="/storyplayer/v2/modules/form/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/form/index.html#using-the-form-module">Using The Form Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/fs/index.html">The Filesystem Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/fs/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/fs/index.html#using-the-filesystem-module">Using The Filesystem Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/graphite/index.html">The Graphite Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/graphite/index.html#introduction">Introduction</a></li>
<li><a href="/storyplayer/v2/modules/graphite/index.html#how-does-data-get-into-graphite">How Does Data Get Into Graphite?</a></li>
<li><a href="/storyplayer/v2/modules/graphite/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/graphite/index.html#configuration">Configuration</a></li>
<li><a href="/storyplayer/v2/modules/graphite/index.html#using-the-graphite-module">Using The Graphite Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/host/index.html">The Host Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/host/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/host/index.html#using-the-host-module">Using The Host Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/http/index.html">The HTTP Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/http/index.html#introduction">Introduction</a></li>
<li><a href="/storyplayer/v2/modules/http/index.html#which-module-should-i-use---http-or-browser--form">Which Module Should I Use - HTTP or Browser / Form?</a></li>
<li><a href="/storyplayer/v2/modules/http/index.html#why-two-competing-modules-for-http-requests">Why Two Competing Modules For HTTP Requests?</a></li>
<li><a href="/storyplayer/v2/modules/http/index.html#restful-or-not---its-your-choice">RESTful Or Not - It’s Your Choice</a></li>
<li><a href="/storyplayer/v2/modules/http/index.html#soap-support">SOAP Support</a></li>
<li><a href="/storyplayer/v2/modules/http/index.html#ssl-support">SSL Support</a></li>
<li><a href="/storyplayer/v2/modules/http/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/http/index.html#psr-7-and-httpmessages">PSR-7 and HttpMessages</a></li>
<li><a href="/storyplayer/v2/modules/http/index.html#using-the-http-module">Using The HTTP Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/iterators/index.html">Iterators</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/iterators/index.html#what-are-iterators">What Are Iterators?</a></li>
<li><a href="/storyplayer/v2/modules/iterators/index.html#why-do-we-need-iterators">Why Do We Need Iterators?</a></li>
<li><a href="/storyplayer/v2/modules/iterators/index.html#performing-an-action-against-one-host-out-of-many">Performing An Action Against One Host Out Of Many</a></li>
<li><a href="/storyplayer/v2/modules/iterators/index.html#performing-an-action-against-many-hosts">Performing An Action Against Many Hosts</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/log/index.html">The Log Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/log/index.html#using-the-log-module">Using The Log Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/provisioning/index.html">The Provisioning Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/provisioning/index.html#building-test-environments">Building Test Environments</a></li>
<li><a href="/storyplayer/v2/modules/provisioning/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/provisioning/index.html#configuring-the-provisioning-module">Configuring The Provisioning Module</a></li>
<li><a href="/storyplayer/v2/modules/provisioning/index.html#using-the-provisioning-module">Using The Provisioning Module</a></li>
<li><a href="/storyplayer/v2/modules/provisioning/index.html#an-example">An Example</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/savaged/index.html">The SavageD Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/savaged/index.html#what-is-savaged">What Is SavageD?</a></li>
<li><a href="/storyplayer/v2/modules/savaged/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/savaged/index.html#configuration">Configuration</a></li>
<li><a href="/storyplayer/v2/modules/savaged/index.html#using-the-savaged-module">Using The SavageD Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/shell/index.html">The UNIX Shell Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/shell/index.html#the-shell-module-now-runs-on-localhost">The Shell Module Now Runs On Localhost</a></li>
<li><a href="/storyplayer/v2/modules/shell/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/shell/index.html#using-the-unix-shell-module">Using The UNIX Shell Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/storyplayer/index.html">The Storyplayer Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/storyplayer/index.html#introduction">Introduction</a></li>
<li><a href="/storyplayer/v2/modules/storyplayer/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/storyplayer/index.html#using-the-storyplayer-module">Using The Storyplayer Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/supervisor/index.html">The Supervisor Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/supervisor/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/supervisor/index.html#using-the-supervisor-module">Using The Supervisor Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/systemundertest/index.html">The SystemUnderTest Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/systemundertest/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/systemundertest/index.html#using-the-systemundertest-module">Using The SystemUnderTest Module</a></li>
<li><a href="/storyplayer/v2/modules/systemundertest/index.html#source-code">Source Code</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/testenvironment/index.html">The TestEnvironment Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/testenvironment/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/testenvironment/index.html#using-the-testenvironment-module">Using The TestEnvironment Module</a></li>
<li><a href="/storyplayer/v2/modules/testenvironment/index.html#source-code">Source Code</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/timer/index.html">The Timer Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/timer/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/timer/index.html#using-the-timer-module">Using The Timer Module</a></li>
<li><a href="/storyplayer/v2/modules/timer/index.html#repeated-polling">Repeated Polling</a></li>
<li><a href="/storyplayer/v2/modules/timer/index.html#the-dateinterval-is-your-friend">The DateInterval Is Your Friend</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/uuid/index.html">The UUID Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/uuid/index.html#what-are-uuids">What Are UUIDs?</a></li>
<li><a href="/storyplayer/v2/modules/uuid/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/uuid/index.html#using-the-uuid-module">Using The UUID Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/vagrant/index.html">The Vagrant Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/vagrant/index.html#does-your-code-actually-work">Does Your Code Actually Work?</a></li>
<li><a href="/storyplayer/v2/modules/vagrant/index.html#what-is-the-cost-of-your-working-code">What Is The Cost Of Your Working Code?</a></li>
<li><a href="/storyplayer/v2/modules/vagrant/index.html#why-vagrant">Why Vagrant?</a></li>
<li><a href="/storyplayer/v2/modules/vagrant/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/vagrant/index.html#before-you-use-the-vagrant-module">Before You Use The Vagrant Module</a></li>
<li><a href="/storyplayer/v2/modules/vagrant/index.html#configuring-the-vagrant-module">Configuring The Vagrant Module</a></li>
<li><a href="/storyplayer/v2/modules/vagrant/index.html#using-the-vagrant-module">Using The Vagrant Module</a></li>
<li><a href="/storyplayer/v2/modules/vagrant/index.html#an-example">An Example</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/zeromq/index.html">The ZeroMQ Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/zeromq/index.html#sometimes-an-external-messaging-tool-is-best">Sometimes An External Messaging Tool Is Best</a></li>
<li><a href="/storyplayer/v2/modules/zeromq/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/zeromq/index.html#using-the-zeromq-module">Using The ZeroMQ Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/internal-modules.html">Internal Modules</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/internal-modules.html#introduction">Introduction</a></li>
<li><a href="/storyplayer/v2/modules/internal-modules.html#when-to-use-internal-modules">When To Use Internal Modules</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/config/index.html">The Config Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/config/index.html#introduction">Introduction</a></li>
<li><a href="/storyplayer/v2/modules/config/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/config/index.html#using-the-config-module">Using The Config Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/devicemanager/index.html">The DeviceManager Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/devicemanager/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/devicemanager/index.html#using-the-devicemanager-module">Using The DeviceManager Module</a></li>
<li><a href="/storyplayer/v2/modules/devicemanager/index.html#source-code">Source Code</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/hoststable/index.html">The HostsTable Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/hoststable/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/hoststable/index.html#using-the-hoststable-module">Using The HostsTable Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/processestable/index.html">The Processes Table Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/processestable/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/processestable/index.html#using-the-processes-table-module">Using The Processes Table Module</a></li>
<li><a href="/storyplayer/v2/modules/processestable/index.html#source-code">Source Code</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/rolestable/index.html">The RolesTable Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/rolestable/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/rolestable/index.html#using-the-rolestable-module">Using The RolesTable Module</a></li>
<li><a href="/storyplayer/v2/modules/rolestable/index.html#source-code">Source Code</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/runtimetable/index.html">The RuntimeTable Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/runtimetable/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/runtimetable/index.html#using-the-runtimetable-module">Using The RuntimeTable Module</a></li>
<li><a href="/storyplayer/v2/modules/runtimetable/index.html#source-code">Source Code</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/targetstable/index.html">The TargetsTable Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/targetstable/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/targetstable/index.html#using-the-targetstable-module">Using The TargetsTable Module</a></li>
<li><a href="/storyplayer/v2/modules/targetstable/index.html#source-code">Source Code</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/deprecated-modules.html">Deprecated Modules</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/deprecated-modules.html#introduction">Introduction</a></li>
<li><a href="/storyplayer/v2/modules/deprecated-modules.html#when-to-use-deprecated-modules">When To Use Deprecated Modules</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/environment/index.html">The Environment Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/environment/index.html#introduction">Introduction</a></li>
<li><a href="/storyplayer/v2/modules/environment/index.html#what-is-the-environment">What Is The Environment?</a></li>
<li><a href="/storyplayer/v2/modules/environment/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/environment/index.html#using-the-environment-module">Using The Environment Module</a></li>
</ul>
