<h3>This Section</h3>
<ol><li><a href="index.html">The Checkpoint Module</a></li>
<ul>
<li><a href="index.html#introduction">Introduction</a></li>
<li><a href="index.html#dependencies">Dependencies</a></li>
<li><a href="index.html#using_the_checkpoint_module">Using The Checkpoint Module</a></li>
</ul>
<li><a href="fromCheckpoint.html">fromCheckpoint()</a></li>
<ul>
<li><a href="fromCheckpoint.html#behaviour_and_return_codes">Behaviour And Return Codes</a></li>
<li><a href="fromCheckpoint.html#get">get()</a></li>
</ul>
<li><a href="usingCheckpoint.html">usingCheckpoint()</a></li>
<ul>
<li><a href="usingCheckpoint.html#behaviour_and_return_codes">Behaviour And Return Codes</a></li>
<li><a href="usingCheckpoint.html#set">set()</a></li>
</ul>
