<h3>This Section</h3>
<ol><li><a href="/storyplayer/v2/modules/file/index.html">The File Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/file/index.html#introduction">Introduction</a></li>
<li><a href="/storyplayer/v2/modules/file/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/file/index.html#using-the-file-module">Using The File Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/file/fromFile.html">fromFile()</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/file/fromFile.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="/storyplayer/v2/modules/file/fromFile.html#gettmpfilename">getTmpFileName()</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/file/usingFile.html">usingFile()</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/file/usingFile.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="/storyplayer/v2/modules/file/usingFile.html#removefile">removeFile()</a></li>
</ul>
