<h3>This Section</h3>
<ol><li><a href="shell/index.html">The UNIX Shell Module</a></li>
<ul>
<li><a href="shell/index.html#everything-is-screened">Everything Is Screened</a></li>
<li><a href="shell/index.html#dependencies">Dependencies</a></li>
<li><a href="shell/index.html#using-the-unix-shell-module">Using The UNIX Shell Module</a></li>
</ul>
<li><a href="shell/child-processes.html">The Role Of Child Processes In Testing</a></li>
<ul>
<li><a href="shell/child-processes.html#why-do-we-need-child-processes-at-all">Why Do We Need Child Processes At All?</a></li>
<li><a href="shell/child-processes.html#how-do-we-use-child-processes">How Do We Use Child Processes?</a></li>
<li><a href="shell/child-processes.html#an-example">An Example</a></li>
</ul>
<li><a href="shell/fromShell.html">fromShell()</a></li>
<ul>
<li><a href="shell/fromShell.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="shell/fromShell.html#getisscreenrunning">getIsScreenRunning()</a></li>
<li><a href="shell/fromShell.html#getisprocessrunning">getIsProcessRunning()</a></li>
<li><a href="shell/fromShell.html#getscreensessiondetails">getScreenSessionDetails()</a></li>
<li><a href="shell/fromShell.html#getallscreensessions">getAllScreenSessions()</a></li>
</ul>
<li><a href="shell/expectsShell.html">expectsShell()</a></li>
<ul>
<li><a href="shell/expectsShell.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="shell/expectsShell.html#isrunninginscreen">isRunningInScreen()</a></li>
<li><a href="shell/expectsShell.html#isnotrunninginscreen">isNotRunningInScreen()</a></li>
</ul>
<li><a href="shell/usingShell.html">usingShell()</a></li>
<ul>
<li><a href="shell/usingShell.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="shell/usingShell.html#runcommand">runCommand()</a></li>
<li><a href="shell/usingShell.html#startinscreen">startInScreen()</a></li>
<li><a href="shell/usingShell.html#stopinscreen">stopInScreen()</a></li>
<li><a href="shell/usingShell.html#stopallscreens">stopAllScreens()</a></li>
<li><a href="shell/usingShell.html#stopprocess">stopProcess()</a></li>
</ul>
