<h3>This Section</h3>
<ol><li><a href="ec2/index.html">The Amazon EC2 Module</a></li>
<ul>
<li><a href="ec2/index.html#does-your-code-actually-work">Does Your Code Actually Work?</a></li>
<li><a href="ec2/index.html#what-is-the-cost-of-your-working-code">What Is The Cost Of Your Working Code?</a></li>
<li><a href="ec2/index.html#why-amazon-ec2">Why Amazon EC2?</a></li>
<li><a href="ec2/index.html#dependencies">Dependencies</a></li>
<li><a href="ec2/index.html#before-you-use-the-ec2-module">Before You Use The EC2 Module</a></li>
<li><a href="ec2/index.html#configuring-the-ec2-module">Configuring The EC2 Module</a></li>
<li><a href="ec2/index.html#using-the-ec2-module">Using The EC2 Module</a></li>
<li><a href="ec2/index.html#an-example">An Example</a></li>
<li><a href="ec2/index.html#instance-naming-on-ec2">Instance Naming On EC2</a></li>
</ul>
<li><a href="ec2/fromEc2.html">fromEc2()</a></li>
<ul>
<li><a href="ec2/fromEc2.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="ec2/fromEc2.html#getimage">getImage()</a></li>
<li><a href="ec2/fromEc2.html#getinstance">getInstance()</a></li>
</ul>
<li><a href="ec2/fromEc2Instance.html">fromEc2Instance()</a></li>
<ul>
<li><a href="ec2/fromEc2Instance.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="ec2/fromEc2Instance.html#getinstanceisrunning">getInstanceIsRunning()</a></li>
<li><a href="ec2/fromEc2Instance.html#getinstancevolumes">getInstanceVolumes()</a></li>
<li><a href="ec2/fromEc2Instance.html#getpublicdnsname">getPublicDnsName()</a></li>
</ul>
<li><a href="ec2/expectsEc2Image.html">expectsEc2Image()</a></li>
<ul>
<li><a href="ec2/expectsEc2Image.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="ec2/expectsEc2Image.html#hasfailed">hasFailed()</a></li>
<li><a href="ec2/expectsEc2Image.html#isavailable">isAvailable()</a></li>
<li><a href="ec2/expectsEc2Image.html#ispending">isPending()</a></li>
</ul>
<li><a href="ec2/usingEc2.html">usingEc2()</a></li>
<ul>
<li><a href="ec2/usingEc2.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="ec2/usingEc2.html#createvm">createVm()</a></li>
<li><a href="ec2/usingEc2.html#destroyvm">destroyVm()</a></li>
<li><a href="ec2/usingEc2.html#startvm">startVm()</a></li>
<li><a href="ec2/usingEc2.html#stopvm">stopVm()</a></li>
<li><a href="ec2/usingEc2.html#restartvm">restartVm()</a></li>
<li><a href="ec2/usingEc2.html#poweroffvm">powerOffVm()</a></li>
</ul>
<li><a href="ec2/usingEc2Instance.html">usingEc2Instance()</a></li>
<ul>
<li><a href="ec2/usingEc2Instance.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="ec2/usingEc2Instance.html#createimage">createImage()</a></li>
<li><a href="ec2/usingEc2Instance.html#markallvolumesasdeleteontermination">markAllVolumesAsDeleteOnTermination</a></li>
</ul>
