<h3>This Section</h3>
<ol><li><a href="index.html">The Graphite Module</a></li>
<ul>
<li><a href="index.html#introduction">Introduction</a></li>
<li><a href="index.html#how-does-data-get-into-graphite">How Does Data Get Into Graphite?</a></li>
<li><a href="index.html#dependencies">Dependencies</a></li>
<li><a href="index.html#configuration">Configuration</a></li>
<li><a href="index.html#using-the-graphite-module">Using The Graphite Module</a></li>
</ul>
<li><a href="fromGraphite.html">fromGraphite()</a></li>
<ul>
<li><a href="fromGraphite.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="fromGraphite.html#getdatafor">getDataFor()</a></li>
</ul>
<li><a href="expectsGraphite.html">expectsGraphite()</a></li>
<ul>
<li><a href="expectsGraphite.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="expectsGraphite.html#metricisalwayszero">metricIsAlwaysZero()</a></li>
<li><a href="expectsGraphite.html#metricsumis">metricSumIs()</a></li>
<li><a href="expectsGraphite.html#metricneverexceeds">metricNeverExceeds()</a></li>
<li><a href="expectsGraphite.html#metricaveragedoesntexceed">metricAverageDoesntExceed()</a></li>
</ul>
