<h3>This Section</h3>
<ol><li><a href="/storyplayer/v2/modules/storyplayer/index.html">The Storyplayer Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/storyplayer/index.html#introduction">Introduction</a></li>
<li><a href="/storyplayer/v2/modules/storyplayer/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/storyplayer/index.html#using-the-storyplayer-module">Using The Storyplayer Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/storyplayer/fromStoryplayer.html">fromStoryplayer()</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/storyplayer/fromStoryplayer.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="/storyplayer/v2/modules/storyplayer/fromStoryplayer.html#get">get()</a></li>
<li><a href="/storyplayer/v2/modules/storyplayer/fromStoryplayer.html#getappsetting">getAppSetting()</a></li>
<li><a href="/storyplayer/v2/modules/storyplayer/fromStoryplayer.html#getappsettings">getAppSettings()</a></li>
<li><a href="/storyplayer/v2/modules/storyplayer/fromStoryplayer.html#getconfig">getConfig()</a></li>
<li><a href="/storyplayer/v2/modules/storyplayer/fromStoryplayer.html#getmodulesetting">getModuleSetting()</a></li>
<li><a href="/storyplayer/v2/modules/storyplayer/fromStoryplayer.html#getmodulesettings">getModuleSettings()</a></li>
<li><a href="/storyplayer/v2/modules/storyplayer/fromStoryplayer.html#getstorysetting">getStorySetting()</a></li>
</ul>
