<h3>This Section</h3>
<ol><li><a href="timer/index.html">The Timer Module</a></li>
<ul>
<li><a href="timer/index.html#dependencies">Dependencies</a></li>
<li><a href="timer/index.html#using-the-timer-module">Using The Timer Module</a></li>
<li><a href="timer/index.html#repeated-polling">Repeated Polling</a></li>
<li><a href="timer/index.html#the-dateinterval-is-your-friend">The DateInterval Is Your Friend</a></li>
</ul>
<li><a href="timer/usingTimer.html">usingTimer()</a></li>
<ul>
<li><a href="timer/usingTimer.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="timer/usingTimer.html#waitfor">waitFor()</a></li>
<li><a href="timer/usingTimer.html#waitwhile">waitWhile()</a></li>
<li><a href="timer/usingTimer.html#wait">wait()</a></li>
</ul>
