<h3>This Section</h3>
<ol><li><a href="aws/index.html">The Amazon AWS Module</a></li>
<ul>
<li><a href="aws/index.html#using-the-official-amazon-sdk">Using The Official Amazon SDK</a></li>
<li><a href="aws/index.html#dependencies">Dependencies</a></li>
<li><a href="aws/index.html#configuring-the-aws-module">Configuring The AWS Module</a></li>
<li><a href="aws/index.html#using-the-aws-module">Using The AWS Module</a></li>
</ul>
<li><a href="aws/fromAws.html">fromAws()</a></li>
<ul>
<li><a href="aws/fromAws.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="aws/fromAws.html#getec2client">getEc2Client()</a></li>
</ul>
