<h3>This Section</h3>
<ol><li><a href="/storyplayer/v2/modules/uuid/index.html">The UUID Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/uuid/index.html#what-are-uuids">What Are UUIDs?</a></li>
<li><a href="/storyplayer/v2/modules/uuid/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/uuid/index.html#using-the-uuid-module">Using The UUID Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/uuid/fromUuid.html">fromUuid()</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/uuid/fromUuid.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="/storyplayer/v2/modules/uuid/fromUuid.html#generateuuid">generateUuid()</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/uuid/expectsUuid.html">expectsUuid()</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/uuid/expectsUuid.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="/storyplayer/v2/modules/uuid/expectsUuid.html#requirementsaremet">requirementsAreMet()</a></li>
</ul>
