<h3>This Section</h3>
<ol><li><a href="/storyplayer/v2/modules/checkpoint/index.html">The Checkpoint Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/checkpoint/index.html#introduction">Introduction</a></li>
<li><a href="/storyplayer/v2/modules/checkpoint/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/checkpoint/index.html#using-the-checkpoint-module">Using The Checkpoint Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/checkpoint/getCheckpoint.html">getCheckpoint()</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/checkpoint/getCheckpoint.html#getcheckpoint-1">getCheckpoint()</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/checkpoint/fromCheckpoint.html">fromCheckpoint()</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/checkpoint/fromCheckpoint.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="/storyplayer/v2/modules/checkpoint/fromCheckpoint.html#get">get()</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/checkpoint/usingCheckpoint.html">usingCheckpoint()</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/checkpoint/usingCheckpoint.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="/storyplayer/v2/modules/checkpoint/usingCheckpoint.html#set">set()</a></li>
</ul>
