<h3>This Section</h3>
<ol><li><a href="/storyplayer/v2/modules/savaged/index.html">The SavageD Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/savaged/index.html#what-is-savaged">What Is SavageD?</a></li>
<li><a href="/storyplayer/v2/modules/savaged/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/savaged/index.html#configuration">Configuration</a></li>
<li><a href="/storyplayer/v2/modules/savaged/index.html#using-the-savaged-module">Using The SavageD Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/savaged/usingSavageD.html">usingSavageD()</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/savaged/usingSavageD.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="/storyplayer/v2/modules/savaged/usingSavageD.html#api-call-order">API Call Order</a></li>
<li><a href="/storyplayer/v2/modules/savaged/usingSavageD.html#deletestatsprefix">deleteStatsPrefix()</a></li>
<li><a href="/storyplayer/v2/modules/savaged/usingSavageD.html#setstatsprefix">setStatsPrefix()</a></li>
<li><a href="/storyplayer/v2/modules/savaged/usingSavageD.html#startmonitoring">startMonitoring()</a></li>
<li><a href="/storyplayer/v2/modules/savaged/usingSavageD.html#stopmonitoring">stopMonitoring()</a></li>
<li><a href="/storyplayer/v2/modules/savaged/usingSavageD.html#stopwatchingprocess">stopWatchingProcess()</a></li>
<li><a href="/storyplayer/v2/modules/savaged/usingSavageD.html#stopwatchingprocesscpu">stopWatchingProcessCpu()</a></li>
<li><a href="/storyplayer/v2/modules/savaged/usingSavageD.html#stopwatchingprocessmemory">stopWatchingProcessMemory()</a></li>
<li><a href="/storyplayer/v2/modules/savaged/usingSavageD.html#stopwatchingservercpu">stopWatchingServerCpu()</a></li>
<li><a href="/storyplayer/v2/modules/savaged/usingSavageD.html#stopwatchingserverdiskstats">stopWatchingServerDiskstats()</a></li>
<li><a href="/storyplayer/v2/modules/savaged/usingSavageD.html#stopwatchingserverloadavg">stopWatchingServerLoadavg()</a></li>
<li><a href="/storyplayer/v2/modules/savaged/usingSavageD.html#watchprocess">watchProcess()</a></li>
<li><a href="/storyplayer/v2/modules/savaged/usingSavageD.html#watchprocesscpu">watchProcessCpu()</a></li>
<li><a href="/storyplayer/v2/modules/savaged/usingSavageD.html#watchprocessmemory">watchProcessMemory()</a></li>
<li><a href="/storyplayer/v2/modules/savaged/usingSavageD.html#watchservercpu">watchServerCpu()</a></li>
<li><a href="/storyplayer/v2/modules/savaged/usingSavageD.html#watchserverdiskstats">watchServerDiskstats()</a></li>
<li><a href="/storyplayer/v2/modules/savaged/usingSavageD.html#watchserverloadavg">watchServerLoadavg()</a></li>
</ul>
