<h3>This Section</h3>
<ol><li><a href="/storyplayer/v2/modules/browser/index.html">The Browser Module</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/browser/index.html#introduction">Introduction</a></li>
<li><a href="/storyplayer/v2/modules/browser/index.html#we-only-support-real-web-browsers">We Only Support Real Web Browsers</a></li>
<li><a href="/storyplayer/v2/modules/browser/index.html#dependencies">Dependencies</a></li>
<li><a href="/storyplayer/v2/modules/browser/index.html#using-the-browser-module">Using The Browser Module</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/browser/searching-the-dom.html">Searching The DOM</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/browser/searching-the-dom.html#introduction">Introduction</a></li>
<li><a href="/storyplayer/v2/modules/browser/searching-the-dom.html#examples">Examples</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/browser/search-targets.html">Supported Search Targets</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/browser/search-targets.html#box--boxes">box / boxes</a></li>
<li><a href="/storyplayer/v2/modules/browser/search-targets.html#button--buttons">button / buttons</a></li>
<li><a href="/storyplayer/v2/modules/browser/search-targets.html#cell--cells">cell / cells</a></li>
<li><a href="/storyplayer/v2/modules/browser/search-targets.html#dropdown--dropdowns">dropdown / dropdowns</a></li>
<li><a href="/storyplayer/v2/modules/browser/search-targets.html#element--elements">element / elements</a></li>
<li><a href="/storyplayer/v2/modules/browser/search-targets.html#field--fields">field / fields</a></li>
<li><a href="/storyplayer/v2/modules/browser/search-targets.html#heading">heading</a></li>
<li><a href="/storyplayer/v2/modules/browser/search-targets.html#link--links">link / links</a></li>
<li><a href="/storyplayer/v2/modules/browser/search-targets.html#orderedlist">orderedlist</a></li>
<li><a href="/storyplayer/v2/modules/browser/search-targets.html#span">span</a></li>
<li><a href="/storyplayer/v2/modules/browser/search-targets.html#unorderedlist">unorderedlist</a></li>
<li><a href="/storyplayer/v2/modules/browser/search-targets.html#default-search-target">Default Search Target</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/browser/search-filters.html">Supported Search Filters</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/browser/search-filters.html#withalttext">WithAltText</a></li>
<li><a href="/storyplayer/v2/modules/browser/search-filters.html#withclass">WithClass</a></li>
<li><a href="/storyplayer/v2/modules/browser/search-filters.html#withid">WithId</a></li>
<li><a href="/storyplayer/v2/modules/browser/search-filters.html#withlabel--labelled">WithLabel / Labelled</a></li>
<li><a href="/storyplayer/v2/modules/browser/search-filters.html#withname--named">WithName / Named</a></li>
<li><a href="/storyplayer/v2/modules/browser/search-filters.html#withplaceholder">WithPlaceholder</a></li>
<li><a href="/storyplayer/v2/modules/browser/search-filters.html#withtext">WithText</a></li>
<li><a href="/storyplayer/v2/modules/browser/search-filters.html#withtitle">WithTitle</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/browser/fromBrowser.html">fromBrowser()</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/browser/fromBrowser.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="/storyplayer/v2/modules/browser/fromBrowser.html#has">has()</a></li>
<li><a href="/storyplayer/v2/modules/browser/fromBrowser.html#get">get()</a></li>
<li><a href="/storyplayer/v2/modules/browser/fromBrowser.html#getname">getName()</a></li>
<li><a href="/storyplayer/v2/modules/browser/fromBrowser.html#getnames">getNames()</a></li>
<li><a href="/storyplayer/v2/modules/browser/fromBrowser.html#getoptions">getOptions()</a></li>
<li><a href="/storyplayer/v2/modules/browser/fromBrowser.html#gettag">getTag()</a></li>
<li><a href="/storyplayer/v2/modules/browser/fromBrowser.html#gettext">getText()</a></li>
<li><a href="/storyplayer/v2/modules/browser/fromBrowser.html#gettopelement">getTopElement()</a></li>
<li><a href="/storyplayer/v2/modules/browser/fromBrowser.html#gettitle">getTitle()</a></li>
<li><a href="/storyplayer/v2/modules/browser/fromBrowser.html#getvalue">getValue()</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/browser/expectsBrowser.html">expectsBrowser()</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/browser/expectsBrowser.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="/storyplayer/v2/modules/browser/expectsBrowser.html#doesnthave">doesntHave()</a></li>
<li><a href="/storyplayer/v2/modules/browser/expectsBrowser.html#has">has()</a></li>
<li><a href="/storyplayer/v2/modules/browser/expectsBrowser.html#hastitle">hasTitle()</a></li>
<li><a href="/storyplayer/v2/modules/browser/expectsBrowser.html#hastitles">hasTitles()</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/browser/usingBrowser.html">usingBrowser()</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/browser/usingBrowser.html#behaviour-and-return-codes">Behaviour And Return Codes</a></li>
<li><a href="/storyplayer/v2/modules/browser/usingBrowser.html#check">check()</a></li>
<li><a href="/storyplayer/v2/modules/browser/usingBrowser.html#clear">clear()</a></li>
<li><a href="/storyplayer/v2/modules/browser/usingBrowser.html#click">click()</a></li>
<li><a href="/storyplayer/v2/modules/browser/usingBrowser.html#gotopage">gotoPage()</a></li>
<li><a href="/storyplayer/v2/modules/browser/usingBrowser.html#select">select()</a></li>
<li><a href="/storyplayer/v2/modules/browser/usingBrowser.html#type">type()</a></li>
<li><a href="/storyplayer/v2/modules/browser/usingBrowser.html#waitforoverlay">waitForOverlay()</a></li>
<li><a href="/storyplayer/v2/modules/browser/usingBrowser.html#waitfortitle">waitForTitle()</a></li>
<li><a href="/storyplayer/v2/modules/browser/usingBrowser.html#waitfortitles">waitForTitles()</a></li>
</ul>
<li><a href="/storyplayer/v2/modules/browser/webdriver.html">The WebDriver Library</a></li>
<ul>
<li><a href="/storyplayer/v2/modules/browser/webdriver.html#supported-browsers">Supported Browsers</a></li>
<li><a href="/storyplayer/v2/modules/browser/webdriver.html#most-common-case---xpath-queries">Most Common Case - XPath Queries</a></li>
<li><a href="/storyplayer/v2/modules/browser/webdriver.html#the-json-wire-protocol">The Json Wire Protocol</a></li>
<li><a href="/storyplayer/v2/modules/browser/webdriver.html#webdriver-sessions">WebDriver Sessions</a></li>
<li><a href="/storyplayer/v2/modules/browser/webdriver.html#webdriver-elements">WebDriver Elements</a></li>
<li><a href="/storyplayer/v2/modules/browser/webdriver.html#dealing-with-failed-searches">Dealing With Failed Searches</a></li>
</ul>
