<h3>This Section</h3>
<ol><li><a href="index.html">Introducing Stories</a></li>
<ul>
<li><a href="index.html#what-are-stories">What Are Stories?</a></li>
<li><a href="index.html#turning-stories-into-story-tests">Turning Stories Into Story Tests</a></li>
<li><a href="index.html#story-tests-are-written-in-code">Story Tests Are Written In Code</a></li>
<li><a href="index.html#tests-can-be-templated">Tests Can Be Templated</a></li>
<li><a href="index.html#tests-are-stored-as-php-scripts">Tests Are Stored As PHP Scripts</a></li>
<li><a href="index.html#tests-are-executed-against-environments">Tests Are Executed Against Environments</a></li>
</ul>
<li><a href="user-stories.html">User Stories</a></li>
<ul>
<li><a href="user-stories.html#what-is-a-user-story">What Is A User Story?</a></li>
<li><a href="user-stories.html#good-stories-are-long-lived">Good Stories Are Long-Lived</a></li>
<li><a href="user-stories.html#invest-in-your-stories">INVEST In Your Stories</a></li>
<li><a href="user-stories.html#at-the-heart-of-the-process">At The Heart Of The Process</a></li>
<li><a href="user-stories.html#further-reading">Further Reading</a></li>
</ul>
<li><a href="service-stories.html">Service Stories</a></li>
<ul>
<li><a href="service-stories.html#what-is-a-service-story">What Is A Service Story?</a></li>
<li><a href="service-stories.html#service-stories-help-with-planning-user-stories">Service Stories Help With Planning User Stories</a></li>
<li><a href="service-stories.html#service-stories-help-with-improving-quality">Service Stories Help With Improving Quality</a></li>
<li><a href="service-stories.html#further-reading">Further Reading</a></li>
</ul>
<li><a href="story-test.html">The Story Test</a></li>
<ul>
<li><a href="story-test.html#what-is-a-story-test">What Is A Story Test?</a></li>
<li><a href="story-test.html#an-empty-story-test">An Empty Story Test</a></li>
<li><a href="story-test.html#example-working-stories">Example Working Stories</a></li>
</ul>
<li><a href="phases.html">The Eight Phases Of A Story Test</a></li>
<ul>
<li><a href="phases.html#the-life-cycle-of-a-single-test">The Life-Cycle Of A Single Test</a></li>
</ul>
<li><a href="the-checkpoint.html">The Checkpoint</a></li>
<ul>
<li><a href="the-checkpoint.html#story-phases-are-stateless">Story Phases Are Stateless</a></li>
<li><a href="the-checkpoint.html#the-checkpoint-object">The Checkpoint Object</a></li>
<li><a href="the-checkpoint.html#the-checkpoint-is-not-persistent">The Checkpoint Is Not Persistent</a></li>
<li><a href="the-checkpoint.html#when-to-use-the-checkpoint">When To Use The Checkpoint</a></li>
</ul>
<li><a href="the-environment.html">The Environment</a></li>
<ul>
<li><a href="the-environment.html#the-environment-object">The Environment Object</a></li>
<li><a href="the-environment.html#the-environment-object-is-read-only">The Environment Object Is Read-Only</a></li>
<li><a href="the-environment.html#when-to-use-the-environment-object">When To Use The Environment Object</a></li>
</ul>
<li><a href="test-environment-setup-teardown.html">Test Environment Setup / Teardown Phases</a></li>
<ul>
<li><a href="test-environment-setup-teardown.html#running-order">Running Order</a></li>
<li><a href="test-environment-setup-teardown.html#creating-your-test-environment">Creating Your Test Environment</a></li>
<li><a href="test-environment-setup-teardown.html#destroying-the-test-environment">Destroying The Test Environment</a></li>
<li><a href="test-environment-setup-teardown.html#templating-your-test-environment">Templating Your Test Environment</a></li>
<li><a href="test-environment-setup-teardown.html#testing-against-multiple-types-of-environments">Testing Against Multiple Types Of Environments</a></li>
<li><a href="test-environment-setup-teardown.html#testing-against-existing-environments">Testing Against Existing Environments</a></li>
<li><a href="test-environment-setup-teardown.html#disabling-the-test-environment-setup--teardown-phases">Disabling The Test Environment Setup / Teardown Phases</a></li>
</ul>
<li><a href="test-setup-teardown.html">Test Setup / Teardown Phases</a></li>
<ul>
<li><a href="test-setup-teardown.html#running-order">Running Order</a></li>
<li><a href="test-setup-teardown.html#setting-up-your-test-conditions">Setting Up Your Test Conditions</a></li>
<li><a href="test-setup-teardown.html#reverting-your-test-conditions">Reverting Your Test Conditions</a></li>
<li><a href="test-setup-teardown.html#templating-your-test-conditions">Templating Your Test Conditions</a></li>
</ul>
<li><a href="pre-test-prediction.html">The Pre-Test Prediction Phase</a></li>
<ul>
<li><a href="pre-test-prediction.html#running-order">Running Order</a></li>
<li><a href="pre-test-prediction.html#how-to-make-a-prediction">How To Make A Prediction</a></li>
<li><a href="pre-test-prediction.html#templating-your-pre-test-predictions">Templating Your Pre-Test Predictions</a></li>
</ul>
<li><a href="pre-test-inspection.html">Pre-Test Inspection Phase</a></li>
<ul>
<li><a href="pre-test-inspection.html#running-order">Running Order</a></li>
<li><a href="pre-test-inspection.html#how-to-inspect-before-your-story-makes-changes">How To Inspect Before Your Story Makes Changes</a></li>
<li><a href="pre-test-inspection.html#templating-your-pre-test-inspections">Templating Your Pre-Test Inspections</a></li>
</ul>
<li><a href="action.html">Action Phase</a></li>
<ul>
<li><a href="action.html#running-order">Running Order</a></li>
<li><a href="action.html#getting-things-done">Getting Things Done</a></li>
<li><a href="action.html#templating-your-actions">Templating Your Actions</a></li>
</ul>
<li><a href="post-test-inspection.html">Post-Test Inspection Phase</a></li>
<ul>
<li><a href="post-test-inspection.html#running-order">Running Order</a></li>
<li><a href="post-test-inspection.html#how-to-inspect-after-your-story-has-made-changes">How To Inspect After Your Story Has Made Changes</a></li>
<li><a href="post-test-inspection.html#templating-your-post-test-inspections">Templating Your Post-Test Inspections</a></li>
</ul>
<li><a href="story-templates.html">Story Templates</a></li>
<ul>
<li><a href="story-templates.html#creating-a-story-template">Creating A Story Template</a></li>
<li><a href="story-templates.html#adding-a-phase-to-a-story-template">Adding A Phase To A Story Template</a></li>
<li><a href="story-templates.html#adding-a-template-to-a-story">Adding A Template To A Story</a></li>
<li><a href="story-templates.html#adding-multiple-templates-to-a-story">Adding Multiple Templates To A Story</a></li>
</ul>
<li><a href="story-params.html">Story Parameters</a></li>
<ul>
<li><a href="story-params.html#defining-story-parameters">Defining Story Parameters</a></li>
<li><a href="story-params.html#retrieving-story-parameters">Retrieving Story Parameters</a></li>
<li><a href="story-params.html#overriding-story-parameters-from-the-command-line">Overriding Story Parameters From The Command-Line</a></li>
<li><a href="story-params.html#uses-of-story-parameters">Uses Of Story Parameters</a></li>
</ul>
<li><a href="test-users.html">Test Users</a></li>
<li><a href="tales.html">Tales</a></li>
<ul>
<li><a href="tales.html#creating-a-tale">Creating A Tale</a></li>
<li><a href="tales.html#running-a-tale">Running A Tale</a></li>
<li><a href="tales.html#reusing-test-environments-in-your-tale">Reusing Test Environments In Your Tale</a></li>
</ul>
