<h3>This Section</h3>
<ol><li><a href="test-environments/index.html">Test Environments</a></li>
<ul>
<li><a href="test-environments/index.html#testing-in-development">Testing In Development</a></li>
<li><a href="test-environments/index.html#representative-environments">Representative Environments</a></li>
<li><a href="test-environments/index.html#reproducible-test-environments">Reproducible Test Environments</a></li>
<li><a href="test-environments/index.html#virtual-machines-or-hardware">Virtual Machines, Or Hardware?</a></li>
</ul>
<li><a href="test-environments/your-machine.html">Testing On Your Machine</a></li>
<ul>
<li><a href="test-environments/your-machine.html#setting-up-for-testing">Setting Up For Testing</a></li>
<li><a href="test-environments/your-machine.html#configuring-your-environment">Configuring Your Environment</a></li>
<li><a href="test-environments/your-machine.html#writing-your-stories">Writing Your Stories</a></li>
<li><a href="test-environments/your-machine.html#running-your-stories">Running Your Stories</a></li>
</ul>
<li><a href="test-environments/local-vms.html">Testing Against Local Virtual Machines</a></li>
<ul>
<li><a href="test-environments/local-vms.html#setting-up-for-testing">Setting Up For Testing</a></li>
<li><a href="test-environments/local-vms.html#automate-creating-your-virtual-machines">Automate Creating Your Virtual Machines</a></li>
<li><a href="test-environments/local-vms.html#a-note-about-vagrant-plugins">A Note About Vagrant Plugins</a></li>
<li><a href="test-environments/local-vms.html#configuring-your-environment">Configuring Your Environment</a></li>
<li><a href="test-environments/local-vms.html#writing-your-stories">Writing Your Stories</a></li>
<li><a href="test-environments/local-vms.html#running-your-stories">Running Your Stories</a></li>
</ul>
<li><a href="test-environments/dedicated.html">Testing Against Dedicated Environments</a></li>
<ul>
<li><a href="test-environments/dedicated.html#setting-up-for-testing">Setting Up For Testing</a></li>
<li><a href="test-environments/dedicated.html#configuring-your-environment">Configuring Your Environment</a></li>
<li><a href="test-environments/dedicated.html#writing-your-stories">Writing Your Stories</a></li>
<li><a href="test-environments/dedicated.html#running-your-stories">Running Your Stories</a></li>
</ul>
<li><a href="test-environments/production.html">Testing Against Production</a></li>
<ul>
<li><a href="test-environments/production.html#setting-up-for-testing">Setting Up For Testing</a></li>
<li><a href="test-environments/production.html#configuring-your-environment">Configuring Your Environment</a></li>
<li><a href="test-environments/production.html#safeguarding-your-stories">Safeguarding Your Stories</a></li>
<li><a href="test-environments/production.html#writing-your-stories">Writing Your Stories</a></li>
<li><a href="test-environments/production.html#running-your-stories">Running Your Stories</a></li>
</ul>
<li><a href="test-environments/multiple-environments.html">Testing Against Multiple Environments</a></li>
<ul>
<li><a href="test-environments/multiple-environments.html#create-per-environment-configurations">Create Per-Environment Configurations</a></li>
<li><a href="test-environments/multiple-environments.html#dont-hard-code-settings-in-your-stories">Don’t Hard-Code Settings In Your Stories</a></li>
<li><a href="test-environments/multiple-environments.html#get-ip-addresses-dynamically">Get IP Addresses Dynamically</a></li>
<li><a href="test-environments/multiple-environments.html#multiple-operating-systems">Multiple Operating Systems</a></li>
</ul>
<li><a href="test-environments/ec2.html">Creating Test Environments On Amazon EC2</a></li>
<ul>
<li><a href="test-environments/ec2.html#planning-your-ec2-test-environment">Planning Your EC2 Test Environment</a></li>
<li><a href="test-environments/ec2.html#preparing-your-ec2-test-environment">Preparing Your EC2 Test Environment</a></li>
<li><a href="test-environments/ec2.html#building-your-ec2-test-environment">Building Your EC2 Test Environment</a></li>
<li><a href="test-environments/ec2.html#destroying-your-ec2-test-environment">Destroying Your EC2 Test Environment</a></li>
</ul>
<li><a href="test-environments/physical-hosts.html">Creating Test Environments On Physical Hosts</a></li>
<ul>
<li><a href="test-environments/physical-hosts.html#planning-your-testing">Planning Your Testing</a></li>
<li><a href="test-environments/physical-hosts.html#where-to-run-storyplayer">Where To Run Storyplayer</a></li>
<li><a href="test-environments/physical-hosts.html#curate-your-test-hardware">Curate Your Test Hardware</a></li>
<li><a href="test-environments/physical-hosts.html#preparing-your-physical-hardware">Preparing Your Physical Hardware</a></li>
<li><a href="test-environments/physical-hosts.html#preparing-your-software-for-testing">Preparing Your Software For Testing</a></li>
<li><a href="test-environments/physical-hosts.html#telling-storyplayer-about-your-test-hardware">Telling Storyplayer About Your Test Hardware</a></li>
<li><a href="test-environments/physical-hosts.html#running-your-tests">Running Your Tests</a></li>
</ul>
<li><a href="test-environments/vagrant.html">Creating Test Environments Using Vagrant</a></li>
<ul>
<li><a href="test-environments/vagrant.html#planning-your-vagrant-test-environment">Planning Your Vagrant Test Environment</a></li>
<li><a href="test-environments/vagrant.html#choosing-a-hypervisor">Choosing A Hypervisor</a></li>
<li><a href="test-environments/vagrant.html#building-your-vagrant-test-environment">Building Your Vagrant Test Environment</a></li>
<li><a href="test-environments/vagrant.html#destroying-your-vagrant-test-environment">Destroying Your Vagrant Test Environment</a></li>
</ul>
<li><a href="test-environments/safeguarding.html">Safeguarding Environments</a></li>
<ul>
<li><a href="test-environments/safeguarding.html#safeguarding-an-environment">Safeguarding An Environment</a></li>
</ul>
