<h3>This Section</h3>
<ol><li><a href="/storyplayer/v2/using/storyplayer-commands/index.html">Storyplayer Commands</a></li>
<li><a href="/storyplayer/v2/using/configuration/index.html">Configuring Storyplayer</a></li>
<ul>
<li><a href="/storyplayer/v2/using/configuration/index.html#basic-configuration---storyplayerjson">Basic Configuration - storyplayer.json</a></li>
<li><a href="/storyplayer/v2/using/configuration/index.html#advanced-configuration-approaches">Advanced Configuration Approaches</a></li>
<li><a href="/storyplayer/v2/using/configuration/index.html#your-own-preferences">Your Own Preferences</a></li>
<li><a href="/storyplayer/v2/using/configuration/index.html#storyplayer-remembers-things-too">Storyplayer Remembers Things Too</a></li>
<li><a href="/storyplayer/v2/using/configuration/index.html#config-file-load-order">Config File Load Order</a></li>
</ul>
<li><a href="/storyplayer/v2/using/devices/index.html">Testing With Different Devices</a></li>
<ul>
<li><a href="/storyplayer/v2/using/devices/index.html#supported-browsers-and-devices">Supported Browsers And Devices</a></li>
<li><a href="/storyplayer/v2/using/devices/index.html#stuff-we-still-need-to-add">Stuff We Still Need To Add</a></li>
<li><a href="/storyplayer/v2/using/devices/index.html#not-supported">Not Supported</a></li>
<li><a href="/storyplayer/v2/using/devices/index.html#not-possible">Not Possible</a></li>
</ul>
<li><a href="/storyplayer/v2/using/stories/index.html">Introducing Stories</a></li>
<ul>
<li><a href="/storyplayer/v2/using/stories/index.html#what-are-stories">What Are Stories?</a></li>
<li><a href="/storyplayer/v2/using/stories/index.html#turning-stories-into-story-tests">Turning Stories Into Story Tests</a></li>
<li><a href="/storyplayer/v2/using/stories/index.html#story-tests-are-written-in-code">Story Tests Are Written In Code</a></li>
<li><a href="/storyplayer/v2/using/stories/index.html#tests-can-be-templated">Tests Can Be Templated</a></li>
<li><a href="/storyplayer/v2/using/stories/index.html#tests-are-stored-as-php-scripts">Tests Are Stored As PHP Scripts</a></li>
<li><a href="/storyplayer/v2/using/stories/index.html#tests-are-executed-against-environments">Tests Are Executed Against Environments</a></li>
</ul>
<li><a href="/storyplayer/v2/using/prose/index.html">Introducing Prose</a></li>
<ul>
<li><a href="/storyplayer/v2/using/prose/index.html#what-is-prose">What Is Prose?</a></li>
<li><a href="/storyplayer/v2/using/prose/index.html#prose-modules">Prose Modules</a></li>
<li><a href="/storyplayer/v2/using/prose/index.html#prose-verbs">Prose Verbs</a></li>
<li><a href="/storyplayer/v2/using/prose/index.html#exceptions-when-things-go-wrong">Exceptions When Things Go Wrong</a></li>
</ul>
<li><a href="/storyplayer/v2/using/test-environments/index.html">Test Environments</a></li>
<ul>
<li><a href="/storyplayer/v2/using/test-environments/index.html#testing-in-development">Testing In Development</a></li>
<li><a href="/storyplayer/v2/using/test-environments/index.html#representative-environments">Representative Environments</a></li>
<li><a href="/storyplayer/v2/using/test-environments/index.html#reproducible-test-environments">Reproducible Test Environments</a></li>
<li><a href="/storyplayer/v2/using/test-environments/index.html#virtual-machines-or-hardware">Virtual Machines, Or Hardware?</a></li>
</ul>
