<h3>This Section</h3>
<ol><li><a href="/storyplayer/v2/using/configuration/index.html">Configuring Storyplayer</a></li>
<ul>
<li><a href="/storyplayer/v2/using/configuration/index.html#three-key-files">Three Key Files</a></li>
<li><a href="/storyplayer/v2/using/configuration/index.html#personal-settings">Personal Settings</a></li>
<li><a href="/storyplayer/v2/using/configuration/index.html#storyplayer-remembers-things-too">Storyplayer Remembers Things Too</a></li>
</ul>
<li><a href="/storyplayer/v2/using/configuration/storyplayer-json.html">The storyplayer.json File</a></li>
<ul>
<li><a href="/storyplayer/v2/using/configuration/storyplayer-json.html#location">Location</a></li>
<li><a href="/storyplayer/v2/using/configuration/storyplayer-json.html#contents">Contents</a></li>
<li><a href="/storyplayer/v2/using/configuration/storyplayer-json.html#the-defaults-section">The defaults Section</a></li>
<li><a href="/storyplayer/v2/using/configuration/storyplayer-json.html#the-storyplayerjsondist-file">The storyplayer.json.dist File</a></li>
</ul>
<li><a href="/storyplayer/v2/using/configuration/story-settings.html">storySettings Section</a></li>
<ul>
<li><a href="/storyplayer/v2/using/configuration/story-settings.html#why-use-storysettings">Why Use storySettings?</a></li>
<li><a href="/storyplayer/v2/using/configuration/story-settings.html#where-to-put-storysettings">Where To Put storySettings</a></li>
<li><a href="/storyplayer/v2/using/configuration/story-settings.html#accessing-the-storysettings-from-your-system-under-test">Accessing The storySettings From Your System Under Test</a></li>
<li><a href="/storyplayer/v2/using/configuration/story-settings.html#accessing-the-storysettings-from-your-test-environment">Accessing The storySettings From Your Test Environment</a></li>
<li><a href="/storyplayer/v2/using/configuration/story-settings.html#an-example-config">An Example Config</a></li>
</ul>
<li><a href="/storyplayer/v2/using/configuration/module-settings.html">moduleSettings Section</a></li>
<ul>
<li><a href="/storyplayer/v2/using/configuration/module-settings.html#where-can-you-add-modulesettings">Where Can You Add moduleSettings?</a></li>
<li><a href="/storyplayer/v2/using/configuration/module-settings.html#which-setting-goes-where">Which Setting Goes Where?</a></li>
<li><a href="/storyplayer/v2/using/configuration/module-settings.html#example-amazon-web-service-keys">Example: Amazon Web Service Keys</a></li>
<li><a href="/storyplayer/v2/using/configuration/module-settings.html#example-http-ssl-certificate-validation">Example: HTTP SSL Certificate Validation</a></li>
<li><a href="/storyplayer/v2/using/configuration/module-settings.html#accessing-modulesettings">Accessing moduleSettings</a></li>
</ul>
<li><a href="/storyplayer/v2/using/configuration/system-under-test-config.html">System Under Test Configuration</a></li>
<ul>
<li><a href="/storyplayer/v2/using/configuration/system-under-test-config.html#location">Location</a></li>
<li><a href="/storyplayer/v2/using/configuration/system-under-test-config.html#contents">Contents</a></li>
<li><a href="/storyplayer/v2/using/configuration/system-under-test-config.html#the-roles-section">The roles Section</a></li>
</ul>
<li><a href="/storyplayer/v2/using/configuration/test-environment-config.html">Test Environment Configuration</a></li>
<ul>
<li><a href="/storyplayer/v2/using/configuration/test-environment-config.html#location">Location</a></li>
<li><a href="/storyplayer/v2/using/configuration/test-environment-config.html#contents">Contents</a></li>
<li><a href="/storyplayer/v2/using/configuration/test-environment-config.html#step-1-importing-adapters">Step 1: Importing Adapters</a></li>
<li><a href="/storyplayer/v2/using/configuration/test-environment-config.html#step-2-creating-a-new-test-environment-definition">Step 2: Creating A New Test Environment Definition</a></li>
<li><a href="/storyplayer/v2/using/configuration/test-environment-config.html#step-3-adding-groups-to-the-definition">Step 3: Adding Groups To The Definition</a></li>
<li><a href="/storyplayer/v2/using/configuration/test-environment-config.html#step-4-adding-hosts-to-groups">Step 4: Adding Hosts To Groups</a></li>
<li><a href="/storyplayer/v2/using/configuration/test-environment-config.html#step-5-adding-provisioning-to-a-group">Step 5: Adding Provisioning To A Group</a></li>
<li><a href="/storyplayer/v2/using/configuration/test-environment-config.html#step-6-adding-module-settings">Step 6: Adding Module Settings</a></li>
<li><a href="/storyplayer/v2/using/configuration/test-environment-config.html#final-step-return-the-definition">Final Step: Return The Definition</a></li>
<li><a href="/storyplayer/v2/using/configuration/test-environment-config.html#further-reading">Further Reading</a></li>
</ul>
<li><a href="/storyplayer/v2/using/configuration/user-dot-config.html">User dot-Storyplayer Config</a></li>
<ul>
<li><a href="/storyplayer/v2/using/configuration/user-dot-config.html#location">Location</a></li>
<li><a href="/storyplayer/v2/using/configuration/user-dot-config.html#content">Content</a></li>
</ul>
<li><a href="/storyplayer/v2/using/configuration/dot.notation.support.html">dot.notation.support</a></li>
<ul>
<li><a href="/storyplayer/v2/using/configuration/dot.notation.support.html#an-example">An Example</a></li>
<li><a href="/storyplayer/v2/using/configuration/dot.notation.support.html#where-you-can-use-dotnotationsupport">Where You Can Use dot.notation.support</a></li>
</ul>
<li><a href="/storyplayer/v2/using/configuration/overriding-from-the-command-line.html">Overriding From The Command-Line</a></li>
<li><a href="/storyplayer/v2/using/configuration/device-config.html">Per-Device Configuration</a></li>
<ul>
<li><a href="/storyplayer/v2/using/configuration/device-config.html#basic-configuration">Basic Configuration</a></li>
<li><a href="/storyplayer/v2/using/configuration/device-config.html#advanced-configuration">Advanced Configuration</a></li>
<li><a href="/storyplayer/v2/using/configuration/device-config.html#which-way-should-i-use">Which Way Should I Use?</a></li>
<li><a href="/storyplayer/v2/using/configuration/device-config.html#how-storyplayer-merges-the-environment-configurations">How Storyplayer Merges The Environment Configurations</a></li>
</ul>
<li><a href="/storyplayer/v2/using/configuration/prose-namespaces.html">Prose Namespaces</a></li>
<ul>
<li><a href="/storyplayer/v2/using/configuration/prose-namespaces.html#default-behaviour">Default Behaviour</a></li>
<li><a href="/storyplayer/v2/using/configuration/prose-namespaces.html#searching-additional-namespaces">Searching Additional Namespaces</a></li>
</ul>
<li><a href="/storyplayer/v2/using/configuration/runtime-config.html">The Runtime Configuration</a></li>
<ul>
<li><a href="/storyplayer/v2/using/configuration/runtime-config.html#persisted-data">Persisted Data</a></li>
<li><a href="/storyplayer/v2/using/configuration/runtime-config.html#when-you-need-to-edit-this-file">When You Need To Edit This File</a></li>
<li><a href="/storyplayer/v2/using/configuration/runtime-config.html#persisting-data-from-your-own-modules">Persisting Data From Your Own Modules</a></li>
</ul>
<li><a href="/storyplayer/v2/using/configuration/browsermob-proxy.html">browsermob-proxy Configuration</a></li>
<ul>
<li><a href="/storyplayer/v2/using/configuration/browsermob-proxy.html#how-to-enable">How To Enable</a></li>
</ul>
