<h3>This Section</h3>
<ol><li><a href="/storyplayer/v2/using/deprecated/index.html">Deprecated Features</a></li>
<ul>
<li><a href="/storyplayer/v2/using/deprecated/index.html#what-are-deprecated-features">What Are Deprecated Features?</a></li>
<li><a href="/storyplayer/v2/using/deprecated/index.html#our-deprecation-policy">Our Deprecation Policy</a></li>
</ul>
<li><a href="/storyplayer/v2/using/deprecated/appSettings.html">appSettings</a></li>
<ul>
<li><a href="/storyplayer/v2/using/deprecated/appSettings.html#what-is-being-removed">What Is Being Removed?</a></li>
<li><a href="/storyplayer/v2/using/deprecated/appSettings.html#why-are-appsettings-being-removed">Why Are appSettings Being Removed?</a></li>
<li><a href="/storyplayer/v2/using/deprecated/appSettings.html#how-to-migrate">How To Migrate</a></li>
</ul>
