<h3>This Section</h3>
<ol><li><a href="/storyplayer/configuration/index.html">Configuring Storyplayer</a></li>
<ul>
<li><a href="index.html#basic_configuration__storyplayerjson">Basic Configuration - storyplayer.json</a></li>
<li><a href="index.html#advanced_configuration_approaches">Advanced Configuration Approaches</a></li>
<li><a href="index.html#your_own_preferences">Your Own Preferences</a></li>
<li><a href="index.html#storyplayer_remembers_things_too">Storyplayer Remembers Things Too</a></li>
<li><a href="index.html#config_file_load_order">Config File Load Order</a></li>
</ul>
<li><a href="/storyplayer/configuration/storyplayer-json.html">The storyplayer.json File</a></li>
<ul>
<li><a href="storyplayer-json.html#an_example_storyplayerjson_file">An Example storyplayer.json File</a></li>
<li><a href="storyplayer-json.html#structure_of_the_storyplayerjson_file">Structure Of The storyplayer.json File</a></li>
<li><a href="storyplayer-json.html#the_storyplayerjsondist_file">The storyplayer.json.dist File</a></li>
</ul>
<li><a href="/storyplayer/configuration/app-settings.html">Adding App Settings To Your Config File</a></li>
<ul>
<li><a href="app-settings.html#default_app_settings">Default App Settings</a></li>
<li><a href="app-settings.html#overriding_the_defaults">Overriding The Defaults</a></li>
<li><a href="app-settings.html#accessing_the_app_settings">Accessing The App Settings</a></li>
<li><a href="app-settings.html#an_example_config">An Example Config</a></li>
</ul>
<li><a href="/storyplayer/configuration/logging.html">Logging</a></li>
<ul>
<li><a href="logging.html#supported_log_levels">Supported Log Levels</a></li>
<li><a href="logging.html#supported_log_outputs">Supported Log Outputs</a></li>
<li><a href="logging.html#an_example_config">An Example Config</a></li>
</ul>
<li><a href="/storyplayer/configuration/test-phases.html">Test Phases Configuration</a></li>
<ul>
<li><a href="test-phases.html#supported_test_phases">Supported Test Phases</a></li>
<li><a href="test-phases.html#an_example_config">An Example Config</a></li>
</ul>
<li><a href="/storyplayer/configuration/environment-config.html">Per-Environment Configuration</a></li>
<ul>
<li><a href="environment-config.html#basic_configuration">Basic Configuration</a></li>
<li><a href="environment-config.html#advanced_configuration">Advanced Configuration</a></li>
<li><a href="environment-config.html#which_way_should_i_use">Which Way Should I Use?</a></li>
<li><a href="environment-config.html#how_storyplayer_merges_the_environment_configurations">How Storyplayer Merges The Environment Configurations</a></li>
</ul>
<li><a href="/storyplayer/configuration/user-config.html">Per-User Configuration</a></li>
<ul>
<li><a href="user-config.html#why_do_we_need_peruser_configuration">Why Do We Need Per-User Configuration?</a></li>
</ul>
<li><a href="/storyplayer/configuration/prose-namespaces.html">Prose Namespaces</a></li>
<ul>
<li><a href="prose-namespaces.html#default_behaviour">Default Behaviour</a></li>
<li><a href="prose-namespaces.html#searching_additional_namespaces">Searching Additional Namespaces</a></li>
</ul>
<li><a href="/storyplayer/configuration/runtime-config.html">The Runtime Configuration</a></li>
<ul>
<li><a href="runtime-config.html#persisted_data">Persisted Data</a></li>
<li><a href="runtime-config.html#when_you_need_to_edit_this_file">When You Need To Edit This File</a></li>
<li><a href="runtime-config.html#persisting_data_from_your_own_modules">Persisting Data From Your Own Modules</a></li>
</ul>
