<h3>This Section</h3>
<ol><li><a href="/storyplayer/environments/index.html">Test Environments</a></li>
<ul>
<li><a href="index.html#testing_in_development">Testing In Development</a></li>
<li><a href="index.html#representative_environments">Representative Environments</a></li>
<li><a href="index.html#reproducible_test_environments">Reproducible Test Environments</a></li>
<li><a href="index.html#virtual_machines_or_hardware">Virtual Machines, Or Hardware?</a></li>
</ul>
<li><a href="/storyplayer/environments/your-machine.html">Testing On Your Machine</a></li>
<ul>
<li><a href="your-machine.html#setting_up_for_testing">Setting Up For Testing</a></li>
<li><a href="your-machine.html#configuring_your_environment">Configuring Your Environment</a></li>
<li><a href="your-machine.html#writing_your_stories">Writing Your Stories</a></li>
<li><a href="your-machine.html#running_your_stories">Running Your Stories</a></li>
</ul>
<li><a href="/storyplayer/environments/local-vms.html">Testing Against Local Virtual Machines</a></li>
<ul>
<li><a href="local-vms.html#setting_up_for_testing">Setting Up For Testing</a></li>
<li><a href="local-vms.html#automate_creating_your_virtual_machines">Automate Creating Your Virtual Machines</a></li>
<li><a href="local-vms.html#a_note_about_vagrant_plugins">A Note About Vagrant Plugins</a></li>
<li><a href="local-vms.html#configuring_your_environment">Configuring Your Environment</a></li>
<li><a href="local-vms.html#writing_your_stories">Writing Your Stories</a></li>
<li><a href="local-vms.html#running_your_stories">Running Your Stories</a></li>
</ul>
<li><a href="/storyplayer/environments/dedicated.html">Testing Against Dedicated Environments</a></li>
<ul>
<li><a href="dedicated.html#setting_up_for_testing">Setting Up For Testing</a></li>
<li><a href="dedicated.html#configuring_your_environment">Configuring Your Environment</a></li>
<li><a href="dedicated.html#writing_your_stories">Writing Your Stories</a></li>
<li><a href="dedicated.html#running_your_stories">Running Your Stories</a></li>
</ul>
<li><a href="/storyplayer/environments/production.html">Testing Against Production</a></li>
<ul>
<li><a href="production.html#setting_up_for_testing">Setting Up For Testing</a></li>
<li><a href="production.html#configuring_your_environment">Configuring Your Environment</a></li>
<li><a href="production.html#safeguarding_your_stories">Safeguarding Your Stories</a></li>
<li><a href="production.html#writing_your_stories">Writing Your Stories</a></li>
<li><a href="production.html#running_your_stories">Running Your Stories</a></li>
</ul>
<li><a href="/storyplayer/environments/multiple-environments.html">Testing Against Multiple Environments</a></li>
<ul>
<li><a href="multiple-environments.html#create_perenvironment_configurations">Create Per-Environment Configurations</a></li>
<li><a href="multiple-environments.html#dont_hardcode_settings_in_your_stories">Don&#8217;t Hard-Code Settings In Your Stories</a></li>
<li><a href="multiple-environments.html#get_ip_addresses_dynamically">Get IP Addresses Dynamically</a></li>
<li><a href="multiple-environments.html#multiple_operating_systems">Multiple Operating Systems</a></li>
</ul>
<li><a href="/storyplayer/environments/ec2.html">Creating Test Environments On Amazon EC2</a></li>
<ul>
<li><a href="ec2.html#planning_your_ec2_test_environment">Planning Your EC2 Test Environment</a></li>
<li><a href="ec2.html#preparing_your_ec2_test_environment">Preparing Your EC2 Test Environment</a></li>
<li><a href="ec2.html#building_your_ec2_test_environment">Building Your EC2 Test Environment</a></li>
<li><a href="ec2.html#destroying_your_ec2_test_environment">Destroying Your EC2 Test Environment</a></li>
</ul>
<li><a href="/storyplayer/environments/physical-hosts.html">Creating Test Environments On Physical Hosts</a></li>
<ul>
<li><a href="physical-hosts.html#planning_your_testing">Planning Your Testing</a></li>
<li><a href="physical-hosts.html#curate_your_test_hardware">Curate Your Test Hardware</a></li>
<li><a href="physical-hosts.html#preparing_your_physical_hardware">Preparing Your Physical Hardware</a></li>
</ul>
<li><a href="/storyplayer/environments/vagrant.html">Creating Test Environments Using Vagrant</a></li>
<li><a href="/storyplayer/environments/safeguarding.html">Safeguarding Environments</a></li>
<ul>
<li><a href="safeguarding.html#safeguarding_an_environment">Safeguarding An Environment</a></li>
</ul>
