<h3>This Section</h3>
<ol><li><a href="/storyplayer/environments/index.html">Test Environments</a></li>
<ul>
<li><a href="index.html#why_are_test_environments_important">Why Are Test Environments Important?</a></li>
<li><a href="index.html#representative_environments">Representative Environments</a></li>
<li><a href="index.html#a_discussion_about_hardware_and_virtual_machines">A Discussion About Hardware And Virtual Machines</a></li>
</ul>
<li><a href="/storyplayer/environments/your-machine.html">Testing On Your Machine</a></li>
<li><a href="/storyplayer/environments/isolated.html">Testing Against Isolated Environments</a></li>
<li><a href="/storyplayer/environments/production.html">Testing Against Production</a></li>
<li><a href="/storyplayer/environments/ec2.html">Creating Test Environments On Amazon EC2</a></li>
<li><a href="/storyplayer/environments/physical-hosts.html">Creating Test Environments On Physical Hosts</a></li>
<li><a href="/storyplayer/environments/vagrant.html">Creating Test Environments Using Vagrant</a></li>
<li><a href="/storyplayer/environments/safeguarding.html">Safeguarding Environments</a></li>
<ul>
<li><a href="safeguarding.html#safeguarding_an_environment">Safeguarding An Environment</a></li>
</ul>
