<h3>This Section</h3>
<ol><li><a href="/storyplayer/environments/index.html">Test Environments</a></li>
<ul>
<li><a href="index.html#why_are_test_environments_important">Why Are Test Environments Important?</a></li>
<li><a href="index.html#representative_environments">Representative Environments</a></li>
<li><a href="index.html#a_discussion_about_hardware_and_virtual_machines">A Discussion About Hardware And Virtual Machines</a></li>
</ul>
<li><a href="/storyplayer/environments/your-machine.html">Testing On Your Machine</a></li>
<li><a href="/storyplayer/environments/isolated.html">Testing Against Isolated Environments</a></li>
<li><a href="/storyplayer/environments/production.html">Testing Against Production</a></li>
<li><a href="/storyplayer/environments/ec2.html">Creating Test Environments On Amazon EC2</a></li>
<li><a href="/storyplayer/environments/physical-hosts.html">Creating Test Environments On Physical Hosts</a></li>
<li><a href="/storyplayer/environments/saucelabs.html">Testing Multiple Browsers Using SauceLabs</a></li>
<ul>
<li><a href="saucelabs.html#getting_started">Getting Started</a></li>
<li><a href="saucelabs.html#running_a_test">Running A Test</a></li>
<li><a href="saucelabs.html#selecting_a_browser">Selecting A Browser</a></li>
<li><a href="saucelabs.html#testing_websites_behind_your_firewall">Testing Websites Behind Your Firewall</a></li>
<li><a href="saucelabs.html#testing_websites_behind_http_basic_auth">Testing Websites Behind HTTP Basic Auth</a></li>
<li><a href="saucelabs.html#known_differences_between_sauce_labs_and_local_selenium_webdriver">Known Differences Between Sauce Labs And Local Selenium WebDriver</a></li>
</ul>
<li><a href="/storyplayer/environments/vagrant.html">Creating Test Environments Using Vagrant</a></li>
