<h3>This Section</h3>
<ol><li><a href="/storyplayer/environments/saucelabs/index.html">Testing Multiple Browsers Using SauceLabs</a></li>
<ul>
<li><a href="index.html#getting_started">Getting Started</a></li>
<li><a href="index.html#running_a_test">Running A Test</a></li>
<li><a href="index.html#selecting_a_browser">Selecting A Browser</a></li>
<li><a href="index.html#testing_websites_behind_your_firewall">Testing Websites Behind Your Firewall</a></li>
<li><a href="index.html#testing_websites_behind_http_basic_auth">Testing Websites Behind HTTP Basic Auth</a></li>
<li><a href="index.html#known_differences_between_sauce_labs_and_local_selenium_webdriver">Known Differences Between Sauce Labs And Local Selenium WebDriver</a></li>
</ul>
