<h3>This Section</h3>
<ol><li><a href="/storyplayer/modules/http/index.html">The HTTP Module</a></li>
<ul>
<li><a href="index.html#introduction">Introduction</a></li>
<li><a href="index.html#which_module_should_i_use__http_or_browser__form">Which Module Should I Use - HTTP or Browser / Form?</a></li>
<li><a href="index.html#restful_or_not__its_your_choice">RESTful Or Not - It&#8217;s Your Choice</a></li>
<li><a href="index.html#soap_support">SOAP Support</a></li>
<li><a href="index.html#ssl_support">SSL Support</a></li>
<li><a href="index.html#dependencies">Dependencies</a></li>
<li><a href="index.html#using_the_http_module">Using The HTTP Module</a></li>
</ul>
<li><a href="/storyplayer/modules/http/HttpClientResponse.html">The HttpClientResponse Object</a></li>
<ul>
<li><a href="HttpClientResponse.html#public_api">Public API</a></li>
</ul>
<li><a href="/storyplayer/modules/http/expectsHttpResponse.html">expectsHttpResponse()</a></li>
<ul>
<li><a href="expectsHttpResponse.html#behaviour_and_return_codes">Behaviour And Return Codes</a></li>
<li><a href="expectsHttpResponse.html#hasstatuscode">hasStatusCode()</a></li>
<li><a href="expectsHttpResponse.html#hasbody">hasBody()</a></li>
</ul>
<li><a href="/storyplayer/modules/http/fromHttp.html">fromHttp()</a></li>
<ul>
<li><a href="fromHttp.html#behaviour_and_return_codes">Behaviour And Return Codes</a></li>
<li><a href="fromHttp.html#get">get()</a></li>
</ul>
<li><a href="/storyplayer/modules/http/usingHttp.html">usingHttp()</a></li>
<ul>
<li><a href="usingHttp.html#behaviour_and_return_codes">Behaviour And Return Codes</a></li>
<li><a href="usingHttp.html#get">get()</a></li>
<li><a href="usingHttp.html#delete">delete()</a></li>
<li><a href="usingHttp.html#post">post()</a></li>
<li><a href="usingHttp.html#put">put()</a></li>
</ul>
