<h3>This Section</h3>
<ol><li><a href="/storyplayer/modules/hoststable/index.html">The HostsTable Module</a></li>
<ul>
<li><a href="index.html#dependencies">Dependencies</a></li>
<li><a href="index.html#using_the_hoststable_module">Using The HostsTable Module</a></li>
</ul>
<li><a href="/storyplayer/modules/hoststable/how-hosts-are-remembered.html">How Hosts Are Remembered</a></li>
<ul>
<li><a href="how-hosts-are-remembered.html#the_storyplayer_hosts_table">The Storyplayer Hosts Table</a></li>
<li><a href="how-hosts-are-remembered.html#smoke_testing">Smoke Testing</a></li>
<li><a href="how-hosts-are-remembered.html#creating_new_tests">Creating New Tests</a></li>
</ul>
<li><a href="/storyplayer/modules/hoststable/fromHostsTable.html">fromHostsTable()</a></li>
<ul>
<li><a href="fromHostsTable.html#behaviour_and_return_codes">Behaviour And Return Codes</a></li>
<li><a href="fromHostsTable.html#getdetailsforhost">getDetailsForHost()</a></li>
</ul>
<li><a href="/storyplayer/modules/hoststable/usingHostsTable.html">usingHostsTable()</a></li>
<ul>
<li><a href="usingHostsTable.html#behaviour_and_return_codes">Behaviour And Return Codes</a></li>
<li><a href="usingHostsTable.html#addhost">addHost()</a></li>
<li><a href="usingHostsTable.html#removehost">removeHost()</a></li>
</ul>
