<h3>This Section</h3>
<ol><li><a href="/storyplayer/modules/file/index.html">The File Module</a></li>
<ul>
<li><a href="index.html#introduction">Introduction</a></li>
<li><a href="index.html#dependencies">Dependencies</a></li>
<li><a href="index.html#using_the_file_module">Using The File Module</a></li>
</ul>
<li><a href="/storyplayer/modules/file/fromFile.html">fromFile()</a></li>
<ul>
<li><a href="fromFile.html#behaviour_and_return_codes">Behaviour And Return Codes</a></li>
<li><a href="fromFile.html#gettmpfilename">getTmpFileName()</a></li>
</ul>
<li><a href="/storyplayer/modules/file/usingFile.html">usingFile()</a></li>
<ul>
<li><a href="usingFile.html#behaviour_and_return_codes">Behaviour And Return Codes</a></li>
<li><a href="usingFile.html#removefile">removeFile()</a></li>
</ul>
