<h3>This Section</h3>
<ol><li><a href="/storyplayer/modules/host/index.html">The Host Module</a></li>
<ul>
<li><a href="index.html#dependencies">Dependencies</a></li>
<li><a href="index.html#using_the_host_module">Using The Host Module</a></li>
</ul>
<li><a href="/storyplayer/modules/host/supported-hosts.html">Supported Hosts</a></li>
<ul>
<li><a href="supported-hosts.html#what_hosts_do_we_support">What Hosts Do We Support?</a></li>
<li><a href="supported-hosts.html#how_to_add_support_for_a_new_host">How To Add Support For A New Host</a></li>
</ul>
<li><a href="/storyplayer/modules/host/fromHost.html">fromHost()</a></li>
<ul>
<li><a href="fromHost.html#behaviour_and_return_codes">Behaviour And Return Codes</a></li>
<li><a href="fromHost.html#getdetails">getDetails()</a></li>
<li><a href="fromHost.html#gethostisrunning">getHostIsRunning()</a></li>
<li><a href="fromHost.html#getinstalledpackagedetails">getInstalledPackageDetails()</a></li>
<li><a href="fromHost.html#getipaddress">getIpAddress()</a></li>
<li><a href="fromHost.html#getpid">getPid()</a></li>
<li><a href="fromHost.html#getprocessisrunning">getProcessIsRunning()</a></li>
</ul>
<li><a href="/storyplayer/modules/host/expectsHost.html">expectsHost()</a></li>
<ul>
<li><a href="expectsHost.html#behaviour_and_return_codes">Behaviour And Return Codes</a></li>
<li><a href="expectsHost.html#hostisrunning">hostIsRunning()</a></li>
<li><a href="expectsHost.html#hostisnotrunning">hostIsNotRunning()</a></li>
<li><a href="expectsHost.html#packageisinstalled">packageIsInstalled()</a></li>
<li><a href="expectsHost.html#packageisnotinstalled">packageIsNotInstalled()</a></li>
<li><a href="expectsHost.html#processisrunning">processIsRunning()</a></li>
<li><a href="expectsHost.html#processisnotrunning">processIsNotRunning()</a></li>
</ul>
<li><a href="/storyplayer/modules/host/usingHost.html">usingHost()</a></li>
<ul>
<li><a href="usingHost.html#behaviour_and_return_codes">Behaviour And Return Codes</a></li>
<li><a href="usingHost.html#runcommand">runCommand()</a></li>
<li><a href="usingHost.html#runcommandandignoreerrors">runCommandAndIgnoreErrors()</a></li>
</ul>
