<h3>This Section</h3>
<ol><li><a href="/storyplayer/modules/browser/index.html">The Browser Module</a></li>
<ul>
<li><a href="index.html#introduction">Introduction</a></li>
<li><a href="index.html#we_only_support_real_web_browsers">We Only Support Real Web Browsers</a></li>
<li><a href="index.html#dependencies">Dependencies</a></li>
<li><a href="index.html#starting_browsermobproxy_and_selenium_server">Starting BrowserMob-Proxy And Selenium Server</a></li>
<li><a href="index.html#using_the_browser_module">Using The Browser Module</a></li>
</ul>
<li><a href="/storyplayer/modules/browser/searching-the-dom.html">Searching The DOM</a></li>
<ul>
<li><a href="searching-the-dom.html#introduction">Introduction</a></li>
<li><a href="searching-the-dom.html#examples">Examples</a></li>
</ul>
<li><a href="/storyplayer/modules/browser/search-targets.html">Supported Search Targets</a></li>
<ul>
<li><a href="search-targets.html#box__boxes">box / boxes</a></li>
<li><a href="search-targets.html#button__buttons">button / buttons</a></li>
<li><a href="search-targets.html#cell__cells">cell / cells</a></li>
<li><a href="search-targets.html#dropdown__dropdowns">dropdown / dropdowns</a></li>
<li><a href="search-targets.html#element__elements">element / elements</a></li>
<li><a href="search-targets.html#field__fields">field / fields</a></li>
<li><a href="search-targets.html#heading">heading</a></li>
<li><a href="search-targets.html#link__links">link / links</a></li>
<li><a href="search-targets.html#orderedlist">orderedlist</a></li>
<li><a href="search-targets.html#span">span</a></li>
<li><a href="search-targets.html#unorderedlist">unorderedlist</a></li>
<li><a href="search-targets.html#default_search_target">Default Search Target</a></li>
</ul>
<li><a href="/storyplayer/modules/browser/search-filters.html">Supported Search Filters</a></li>
<ul>
<li><a href="search-filters.html#withalttext">WithAltText</a></li>
<li><a href="search-filters.html#withclass">WithClass</a></li>
<li><a href="search-filters.html#withid">WithId</a></li>
<li><a href="search-filters.html#withlabel__labelled">WithLabel / Labelled</a></li>
<li><a href="search-filters.html#withname__named">WithName / Named</a></li>
<li><a href="search-filters.html#withplaceholder">WithPlaceholder</a></li>
<li><a href="search-filters.html#withtext">WithText</a></li>
<li><a href="search-filters.html#withtitle">WithTitle</a></li>
</ul>
<li><a href="/storyplayer/modules/browser/fromBrowser.html">fromBrowser()</a></li>
<ul>
<li><a href="fromBrowser.html#behaviour_and_return_codes">Behaviour And Return Codes</a></li>
<li><a href="fromBrowser.html#has">has()</a></li>
<li><a href="fromBrowser.html#get">get()</a></li>
<li><a href="fromBrowser.html#getname">getName()</a></li>
<li><a href="fromBrowser.html#getnames">getNames()</a></li>
<li><a href="fromBrowser.html#getoptions">getOptions()</a></li>
<li><a href="fromBrowser.html#gettag">getTag()</a></li>
<li><a href="fromBrowser.html#gettext">getText()</a></li>
<li><a href="fromBrowser.html#gettopelement">getTopElement()</a></li>
<li><a href="fromBrowser.html#gettitle">getTitle()</a></li>
<li><a href="fromBrowser.html#getvalue">getValue()</a></li>
</ul>
<li><a href="/storyplayer/modules/browser/expectsBrowser.html">expectsBrowser()</a></li>
<ul>
<li><a href="expectsBrowser.html#behaviour_and_return_codes">Behaviour And Return Codes</a></li>
<li><a href="expectsBrowser.html#doesnthave">doesntHave()</a></li>
<li><a href="expectsBrowser.html#has">has()</a></li>
<li><a href="expectsBrowser.html#hastitle">hasTitle()</a></li>
<li><a href="expectsBrowser.html#hastitles">hasTitles()</a></li>
</ul>
<li><a href="/storyplayer/modules/browser/usingBrowser.html">usingBrowser()</a></li>
<ul>
<li><a href="usingBrowser.html#behaviour_and_return_codes">Behaviour And Return Codes</a></li>
<li><a href="usingBrowser.html#check">check()</a></li>
<li><a href="usingBrowser.html#clear">clear()</a></li>
<li><a href="usingBrowser.html#click">click()</a></li>
<li><a href="usingBrowser.html#gotopage">gotoPage()</a></li>
<li><a href="usingBrowser.html#select">select()</a></li>
<li><a href="usingBrowser.html#type">type()</a></li>
<li><a href="usingBrowser.html#waitforoverlay">waitForOverlay()</a></li>
<li><a href="usingBrowser.html#waitfortitle">waitForTitle()</a></li>
<li><a href="usingBrowser.html#waitfortitles">waitForTitles()</a></li>
</ul>
<li><a href="/storyplayer/modules/browser/webdriver.html">The WebDriver Library</a></li>
<ul>
<li><a href="webdriver.html#supported_browsers">Supported Browsers</a></li>
<li><a href="webdriver.html#most_common_case__xpath_queries">Most Common Case - XPath Queries</a></li>
<li><a href="webdriver.html#the_json_wire_protocol">The Json Wire Protocol</a></li>
<li><a href="webdriver.html#webdriver_sessions">WebDriver Sessions</a></li>
<li><a href="webdriver.html#webdriver_elements">WebDriver Elements</a></li>
<li><a href="webdriver.html#dealing_with_failed_searches">Dealing With Failed Searches</a></li>
</ul>
