<h3>This Section</h3>
<ol><li><a href="/storyplayer/prose/index.html">Introducing Prose</a></li>
<li><a href="/storyplayer/prose/the-st-object.html">The $st Object</a></li>
<li><a href="/storyplayer/prose/global-dialect.html">The Global Dialect</a></li>
<li><a href="/storyplayer/prose/local-dialects.html">Local Dialects</a></li>
<li><a href="/storyplayer/prose/creating-prose-modules.html">Creating Your Own Prose Modules</a></li>
<li><a href="/storyplayer/prose/persisting-data.html">Persisting Data Between Executions</a></li>
