<h3>Contents</h3>
<ol><li><a href="index.html">Storyplayer</a></li>
<ul>
<li><a href="index.html#introduction">Introduction</a></li>
<li><a href="index.html#licensing">Licensing</a></li>
<li><a href="index.html#installing_storyplayer">Installing Storyplayer</a></li>
</ul>
<li><a href="what-is-storyplayer.html">What Is Storyplayer?</a></li>
<li><a href="browser-module.html">The Browser Module</a></li>
<ul>
<li><a href="browser-module.html#introduction">Introduction</a></li>
<li><a href="browser-module.html#we_only_support_real_web_browsers">We Only Support Real Web Browsers</a></li>
<li><a href="browser-module.html#dependencies">Dependencies</a></li>
<li><a href="browser-module.html#starting_browsermobproxy_and_selenium_server">Starting BrowserMob-Proxy And Selenium Server</a></li>
<li><a href="browser-module.html#using_the_browser_module">Using The Browser Module</a></li>
<li><a href="browser-module.html#different_ways_to_search_inside_an_html_page">Different Ways To Search Inside An HTML Page</a></li>
<li><a href="browser-module.html#supported_search_targets">Supported Search Targets</a></li>
<li><a href="browser-module.html#supported_search_filters">Supported Search Filters</a></li>
<li><a href="browser-module.html#frombrowser">fromBrowser()</a></li>
<li><a href="browser-module.html#expectsbrowser">expectsBrowser()</a></li>
<li><a href="browser-module.html#usingbrowser">usingBrowser()</a></li>
</ul>
<li><a href="copyright.html">Legal Stuff</a></li>
<ul>
<li><a href="copyright.html#copyright">Copyright</a></li>
<li><a href="copyright.html#license">License</a></li>
</ul>

</ol>
