<h3>This Section</h3>
<ol><li><a href="/storyplayer/stories/index.html">Introducing Stories</a></li>
<li><a href="/storyplayer/stories/user-stories.html">User Stories</a></li>
<li><a href="/storyplayer/stories/service-stories.html">Service Stories</a></li>
<li><a href="/storyplayer/stories/phases.html">The Eight Phases Of A Story</a></li>
<li><a href="/storyplayer/stories/the-checkpoint.html">The Checkpoint</a></li>
<li><a href="/storyplayer/stories/test-environment-setup-teardown.html">Test Environment Setup / Teardown Phases</a></li>
<li><a href="/storyplayer/stories/test-setup-teardown.html">Test Setup / Teardown Phases</a></li>
<li><a href="/storyplayer/stories/pre-test-prediction.html">Pre-Test Prediction Phase</a></li>
<li><a href="/storyplayer/stories/pre-test-inspection.html">Pre-Test Inspection Phase</a></li>
<li><a href="/storyplayer/stories/action.html">Action Phase</a></li>
<li><a href="/storyplayer/stories/post-test-inspection.html">Post-Test Inspection Phase</a></li>
<li><a href="/storyplayer/stories/web-example.html">Example: Testing A Website</a></li>
<li><a href="/storyplayer/stories/soa-example.html">Example: Testing A Service</a></li>
<li><a href="/storyplayer/stories/story-writing-tips.html">Story-Writing Tips</a></li>
