<h3>This Section</h3>
<ol><li><a href="/storyplayer/stories/index.html">Introducing Stories</a></li>
<ul>
<li><a href="index.html#what_are_stories">What Are Stories?</a></li>
<li><a href="index.html#turning_stories_into_story_tests">Turning Stories Into Story Tests</a></li>
<li><a href="index.html#story_tests_are_written_in_code">Story Tests Are Written In Code</a></li>
<li><a href="index.html#tests_can_be_templated">Tests Can Be Templated</a></li>
<li><a href="index.html#tests_are_stored_as_php_scripts">Tests Are Stored As PHP Scripts</a></li>
<li><a href="index.html#tests_are_executed_against_environments">Tests Are Executed Against Environments</a></li>
</ul>
<li><a href="/storyplayer/stories/user-stories.html">User Stories</a></li>
<ul>
<li><a href="user-stories.html#what_is_a_user_story">What Is A User Story?</a></li>
<li><a href="user-stories.html#good_stories_are_longlived">Good Stories Are Long-Lived</a></li>
<li><a href="user-stories.html#invest_in_your_stories">INVEST In Your Stories</a></li>
<li><a href="user-stories.html#at_the_heart_of_the_process">At The Heart Of The Process</a></li>
<li><a href="user-stories.html#further_reading">Further Reading</a></li>
</ul>
<li><a href="/storyplayer/stories/service-stories.html">Service Stories</a></li>
<ul>
<li><a href="service-stories.html#what_is_a_service_story">What Is A Service Story?</a></li>
<li><a href="service-stories.html#service_stories_help_with_planning_user_stories">Service Stories Help With Planning User Stories</a></li>
<li><a href="service-stories.html#service_stories_help_with_improving_quality">Service Stories Help With Improving Quality</a></li>
<li><a href="service-stories.html#further_reading">Further Reading</a></li>
</ul>
<li><a href="/storyplayer/stories/story-test.html">The Story Test</a></li>
<ul>
<li><a href="story-test.html#what_is_a_story_test">What Is A Story Test?</a></li>
<li><a href="story-test.html#an_empty_story_test">An Empty Story Test</a></li>
<li><a href="story-test.html#example_working_stories">Example Working Stories</a></li>
</ul>
<li><a href="/storyplayer/stories/phases.html">The Eight Phases Of A Story Test</a></li>
<ul>
<li><a href="phases.html#the_lifecycle_of_a_single_test">The Life-Cycle Of A Single Test</a></li>
</ul>
<li><a href="/storyplayer/stories/the-checkpoint.html">The Checkpoint</a></li>
<ul>
<li><a href="the-checkpoint.html#story_phases_are_stateless">Story Phases Are Stateless</a></li>
<li><a href="the-checkpoint.html#the_checkpoint_object">The Checkpoint Object</a></li>
<li><a href="the-checkpoint.html#the_checkpoint_is_not_persistent">The Checkpoint Is Not Persistent</a></li>
<li><a href="the-checkpoint.html#when_to_use_the_checkpoint">When To Use The Checkpoint</a></li>
</ul>
<li><a href="/storyplayer/stories/the-environment.html">The Environment</a></li>
<ul>
<li><a href="the-environment.html#the_environment_object">The Environment Object</a></li>
<li><a href="the-environment.html#the_environment_object_is_readonly">The Environment Object Is Read-Only</a></li>
<li><a href="the-environment.html#when_to_use_the_environment_object">When To Use The Environment Object</a></li>
</ul>
<li><a href="/storyplayer/stories/test-environment-setup-teardown.html">Test Environment Setup / Teardown Phases</a></li>
<ul>
<li><a href="test-environment-setup-teardown.html#running_order">Running Order</a></li>
<li><a href="test-environment-setup-teardown.html#creating_your_test_environment">Creating Your Test Environment</a></li>
<li><a href="test-environment-setup-teardown.html#destroying_the_test_environment">Destroying The Test Environment</a></li>
<li><a href="test-environment-setup-teardown.html#templating_your_test_environment">Templating Your Test Environment</a></li>
<li><a href="test-environment-setup-teardown.html#testing_against_multiple_types_of_environments">Testing Against Multiple Types Of Environments</a></li>
<li><a href="test-environment-setup-teardown.html#testing_against_existing_environments">Testing Against Existing Environments</a></li>
<li><a href="test-environment-setup-teardown.html#disabling_the_test_environment_setup__teardown_phases">Disabling The Test Environment Setup / Teardown Phases</a></li>
</ul>
<li><a href="/storyplayer/stories/test-setup-teardown.html">Test Setup / Teardown Phases</a></li>
<ul>
<li><a href="test-setup-teardown.html#running_order">Running Order</a></li>
<li><a href="test-setup-teardown.html#setting_up_your_test_conditions">Setting Up Your Test Conditions</a></li>
<li><a href="test-setup-teardown.html#reverting_your_test_conditions">Reverting Your Test Conditions</a></li>
<li><a href="test-setup-teardown.html#templating_your_test_conditions">Templating Your Test Conditions</a></li>
</ul>
<li><a href="/storyplayer/stories/pre-test-prediction.html">The Pre-Test Prediction Phase</a></li>
<ul>
<li><a href="pre-test-prediction.html#running_order">Running Order</a></li>
<li><a href="pre-test-prediction.html#how_to_make_a_prediction">How To Make A Prediction</a></li>
<li><a href="pre-test-prediction.html#templating_your_pretest_predictions">Templating Your Pre-Test Predictions</a></li>
</ul>
<li><a href="/storyplayer/stories/pre-test-inspection.html">Pre-Test Inspection Phase</a></li>
<ul>
<li><a href="pre-test-inspection.html#running_order">Running Order</a></li>
<li><a href="pre-test-inspection.html#how_to_inspect_before_your_story_makes_changes">How To Inspect Before Your Story Makes Changes</a></li>
<li><a href="pre-test-inspection.html#templating_your_pretest_inspections">Templating Your Pre-Test Inspections</a></li>
</ul>
<li><a href="/storyplayer/stories/action.html">Action Phase</a></li>
<ul>
<li><a href="action.html#running_order">Running Order</a></li>
<li><a href="action.html#getting_things_done">Getting Things Done</a></li>
<li><a href="action.html#templating_your_actions">Templating Your Actions</a></li>
</ul>
<li><a href="/storyplayer/stories/post-test-inspection.html">Post-Test Inspection Phase</a></li>
<ul>
<li><a href="post-test-inspection.html#running_order">Running Order</a></li>
<li><a href="post-test-inspection.html#how_to_inspect_after_your_story_has_made_changes">How To Inspect After Your Story Has Made Changes</a></li>
<li><a href="post-test-inspection.html#templating_your_posttest_inspections">Templating Your Post-Test Inspections</a></li>
</ul>
<li><a href="/storyplayer/stories/story-templates.html">Story Templates</a></li>
<li><a href="/storyplayer/stories/story-params.html">Story Parameters</a></li>
<li><a href="/storyplayer/stories/test-users.html">Test Users</a></li>
<li><a href="/storyplayer/stories/web-example.html">Example: Testing A Website</a></li>
<li><a href="/storyplayer/stories/soa-example.html">Example: Testing A Service</a></li>
<li><a href="/storyplayer/stories/story-writing-tips.html">Story-Writing Tips</a></li>
<li><a href="/storyplayer/stories/tales.html">Tales</a></li>
