<h3>This Section</h3>
<ol><li><a href="/storyplayer/index.html">Storyplayer</a></li>
<ul>
<li><a href="index.html#introduction">Introduction</a></li>
</ul>
<li><a href="configuration.html">Configuring Storyplayer</a></li>
<li><a href="index.html#licensing">Licensing</a></li>
<li><a href="/storyplayer/what-is-storyplayer.html">What Is Storyplayer?</a></li>
<li><a href="/storyplayer/stories/index.html">Stories</a></li>
<ul>
  <li><a href="/storyplayer/stories/index.html">Introducing Stories</a></li>
  <li><a href="/storyplayer/stories/user-stories.html">User Stories</a></li>
  <li><a href="/storyplayer/stories/service-stories.html">Service Stories</a></li>
  <li><a href="/storyplayer/stories/phases.html">The 8 Phases Of A Story</a></li>
  <li><a href="/storyplayer/stories/the-checkpoint.html">The Checkpoint</a></li>
  <li><a href="/storyplayer/stories/test-environment-setup-teardown.html">Test Environment Setup / Teardown Phases</a></li>
  <li><a href="/storyplayer/stories/test-setup-teardown.html">Test Setup / Teardown Phases</a></li>
  <li><a href="/storyplayer/stories/pre-test-prediction.html">Pre-Test Prediction Phase</a></li>
  <li><a href="/storyplayer/stories/pre-test-inspection.html">Pre-Test Inspection Phase</a></li>
  <li><a href="/storyplayer/stories/action.html">Action Phase</a></li>
  <li><a href="/storyplayer/stories/post-test-inspection.html">Post-Test Inspection Phase</a></li>
  <li><a href="/storyplayer/stories/story-writing-tips.html">Story-Writing Tips</a></li>
</ul>
<li><a href="/storyplayer/prose/index.html">Prose</a></li>
<ul>
  <li><a href="/storyplayer/prose/index.html">Introducing Prose</a></li>
  <li><a href="/storyplayer/prose/the-st-object.html">The $st Object</a></li>
  <li><a href="/storyplayer/prose/global-dialect.html">The Global Dialect</a></li>
  <li><a href="/storyplayer/prose/local-dialects.html">Local Dialects</a></li>
</ul>
<li><a href="/storyplayer/modules/index.html">Modules</a></li>
<ul>
  <li><a href="/storyplayer/modules/assertions/index.html"</li>
  <li><a href="/storyplayer/modules/browser/index.html">The Browser Module</a></li>
  <li><a href="/storyplayer/modules/checkpoint/index.html">The Checkpoint Module</a></li>
  <li><a href="/storyplayer/modules/environment/index.html">The Environment Module</a></li>
  <li><a href="/storyplayer/modules/file/index.html">The File Module</a></li>
  <li><a href="/storyplayer/modules/form/index.html">The Form Module</a></li>
  <li><a href="/storyplayer/modules/graphite/index.html">The Graphite Module</a></li>
  <li><a href="/storyplayer/modules/http/index.html">The HTTP Module</a></li>
  <li><a href="/storyplayer/modules/savaged/index.html">The SavageD Module</a></li>
  <li><a href="/storyplayer/modules/timer/index.html">The Timer Module</a></li>
  <li><a href="/storyplayer/modules/shell/index.html">The Unix Shell Module</a></li>
  <li><a href="/storyplayer/modules/uuid/index.html">The UUID Module</a></li>
  <li><a href="/storyplayer/modules/vagrant/index.html">The Vagrant Module</a></li>
  <li><a href="/storyplayer/modules/zeromq/index.html">The ZeroMQ Module</a></li>
</ul>
<li><a href="/storyplayer/copyright.html">Legal Stuff</a></li>
<ul>
<li><a href="copyright.html#copyright">Copyright</a></li>
<li><a href="copyright.html#license">License</a></li>
</ul>
